<div class="modal-header">
    <div *ngIf="loading">
        <div class="spinner-border" role="status" aria-hidden="true"></div>
        <h4 class="modal-title">{{ loadingMsg }}</h4>
    </div>
    <div *ngIf="failed">
        <i class="fas fa-5x fa-times-circle text-danger"></i>
        <h4 class="modal-title">Failed</h4>
    </div>
    <div *ngIf="!loading && !failed">
        <div *ngIf="!executed">
            <i class="fas fa-5x fa-info-circle text-info"></i>
            <h4 class="modal-title">Please confirm your transaction</h4>
        </div>
        <div *ngIf="executed">
            <i class="fas fa-5x fa-check text-success"></i>
            <h4 class="modal-title">Success</h4>
        </div>

    </div>
</div>
<div class="modal-body">
    <div *ngIf="failed">
        {{ failMsg }}
    </div>
    <div *ngIf="!failed && !executed && signMsg">
        <div class="row">
            <div class="col-6 small">Fee <i class="fas fa-info-circle info-icon"
                    mdbTooltip="Fee paid to terra chain to execute this transaction"></i></div>
            <div class="col-6 text-end small">
                <span [class.text-danger]="!isEnoughFee">{{ fee | unit }}</span>
                <select class="d-inline-block w-auto coins-fee-select" [(ngModel)]="selectedCoin" (change)="calculateFee()">
                    <option *ngFor="let coin of coins" [value]="coin">{{ coin | currency }}</option>
                </select>
                <span *ngIf="selectedCoin !== 'uusd'"><br />({{ feeUST | unit }} UST)</span>
            </div>
        </div>
        <div class="row">
            <div class="col-3 small gas">Gas Buffer <i class="fas fa-info-circle info-icon"
                mdbTooltip="Gas buffer prevents failed transaction as the actual gas usage might be slightly higher than the estimated gas fee"></i></div>
            <div class="col-7 small">
                <div class="custom-slider">
                    <ngx-slider (userChange)="calculateFee()" [(value)]="gasBuffer" [options]="ngx_slider_option"></ngx-slider>
                </div>
                <small [class.invisible]="gasBuffer >= 20" class="text-warning"><i class="fas fa-exclamation-triangle"></i> Transaction could fail on low buffer</small>
            </div>
            <div class="col-2 small gas">{{ gasBuffer }}%</div>
        </div>
    </div>
    <div *ngIf="txhash">
        <div class="row">
            <div class="col-6 small">Transaction Id</div>
            <div class="col-6 text-end small">
                <a [href]="link" target="_blank">{{txhash | truncate}}</a>
            </div>
        </div>
    </div>
    <div class="row mt-3" *ngIf="confirmMsg && !failed">
        <div class="col-12">
            <input type="checkbox" mdbCheckbox class="form-check-input" [(ngModel)]="confirmCheck"><span
                [innerHTML]="confirmMsg"></span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="relative waves-light btn btn-secondary" (click)="cancel()" *ngIf="!executed || failed"
        [disabled]="loading">Cancel</button>
    <button type="button" class="relative waves-light btn btn-primary" (click)="execute()" *ngIf="!executed && !failed"
        [disabled]="loading || (confirmMsg && !confirmCheck) || !isEnoughFee">Confirm</button>
    <button type="button" class="relative waves-light btn btn-primary" (click)="done()"
        *ngIf="executed && !failed">Done</button>
</div>
