<div class="card">
  <div class="card-body" style="cursor: pointer;" (click)="toggleExpanded()">
    <div class="d-flex align-items-center gap-2 pb-3 border-bottom mb-3">
      <img src="/assets/logo.png" height="36" />
      <div class="h4 mb-0">
        <ng-container *ngIf="detail.days === 0; then flexibleTitle else lockedTitle"></ng-container>
        <ng-template #flexibleTitle>Flexible</ng-template>
        <ng-template #lockedTitle>{{ detail.days }} Days Locked</ng-template>
      </div>
    </div>

    <div class="d-flex gap-2">
      <div class="flex-grow-1 d-flex flex-column gap-2">
        <div class="small">
          <div>
            Total Staked
          </div>
          <div>
            {{ detail.balance | unit }} SPEC
          </div>
        </div>
        <div class="small">
          <div>
            Your Staked
          </div>
          <div>
            {{ detail.userBalance | unit }} SPEC
          </div>
        </div>
      </div>
      <div class="text-end">
        <div class="text-primary">
          <div class="text-primary display-4 lh-1">{{ detail.apr | percent }}</div>
          <div class="d-flex gap-1 justify-content-end align-items-center">
            APR
            <i class="fas fa-info-circle info-icon" mdbTooltip="SPEC staking return from vault fee"></i>
          </div>
        </div>
        <div class="small text-muted lh-sm">
          {{ detail.apr / 365 | percent }} daily rate
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isExpanded" class="card-body pt-0">
    <div class="p-3 bg-dark rounded">
      <mdb-tabs [justified]="true" (activeTabChange)="onActiveTabChange($event)">
        <mdb-tab title="Deposit">
          <div class="d-grid gap-2">
            <div>
              <app-amount-input [balance]="walletBalance" symbol="SPEC" [formControl]="depositAmount"
                [class.is-invalid]="depositAmount.invalid">
              </app-amount-input>
              <div class="invalid-feedback" *ngIf="depositAmount.errors?.exceededBalance">
                Amount must not be greater than the balance
              </div>
              <div class="invalid-feedback" *ngIf="depositAmount.errors?.maxDecimalPlaces">
                Amount must be within 6 decimal points
              </div>
            </div>
            <div *ngIf="detail.days > 0" class="d-flex flex-wrap small text-muted">
              <div class="flex-grow-1">Estimated Unlock Time:&nbsp;</div>
              <div>{{ estimatedDepositUnlock ? (estimatedDepositUnlock * 1000 | date:'medium') : '-' }}</div>
            </div>
            <button type="button" class="btn btn-lg btn-primary" (click)="submitDeposit()"
              [disabled]="depositAmount.value <= 0 || depositAmount.invalid">
              Deposit
            </button>
          </div>
        </mdb-tab>

        <mdb-tab [disabled]="!detail.moveOptions.length" title="Move">
          <div class="d-grid gap-3">
            <div>
              <div class="small">Lock Duration (Days)</div>
              <div class="btn-group w-100">
                <button *ngFor="let option of detail.moveOptions" type="button" class="btn btn-lg"
                  [class.btn-secondary]="moveDays.value === option.days"
                  [class.btn-outline-secondary]="moveDays.value !== option.days"
                  (click)="moveDays.setValue(option.days)">
                  {{ option.days }}
                </button>
              </div>
            </div>
            <div>
              <app-amount-input [balance]="detail.userBalance" symbol="SPEC" [formControl]="moveAmount"
                [class.is-invalid]="moveAmount.invalid">
              </app-amount-input>
              <div class="invalid-feedback" *ngIf="moveAmount.errors?.exceededBalance">
                Amount must not be greater than the balance
              </div>
              <div class="invalid-feedback" *ngIf="moveAmount.errors?.maxDecimalPlaces">
                Amount must be within 6 decimal points
              </div>
            </div>
            <div class="d-flex flex-wrap small text-muted">
              <div class="flex-grow-1">Estimated Unlock Time:&nbsp;</div>
              <div>{{ estimatedMoveUnlock ? (estimatedMoveUnlock * 1000 | date:'medium') : '-' }}</div>
            </div>
            <button type="button" class="btn btn-lg btn-primary" (click)="submitMove()"
              [disabled]="moveAmount.value <= 0 || moveAmount.invalid">
              Move
            </button>
          </div>
        </mdb-tab>

        <mdb-tab title="Withdraw">
          <div class="d-grid gap-2">
            <div *ngIf="detail.unlock" class="alert alert-warning small">
              Your staked is locked until <strong>{{ detail.unlock * 1000 | date:'medium' }}</strong>.
            </div>
            <div>
              <app-amount-input [balance]="detail.userBalance" symbol="SPEC" [formControl]="withdrawAmount"
                [class.is-invalid]="withdrawAmount.invalid">
              </app-amount-input>
              <div class="invalid-feedback" *ngIf="withdrawAmount.errors?.exceededBalance">
                Amount must not be greater than the balance
              </div>
              <div class="invalid-feedback" *ngIf="withdrawAmount.errors?.maxDecimalPlaces">
                Amount must be within 6 decimal points
              </div>
            </div>
            <button type="button" class="btn btn-lg btn-primary" (click)="submitWithdraw()"
              [disabled]="withdrawAmount.value <= 0 || withdrawAmount.invalid">
              Withdraw
            </button>
          </div>
        </mdb-tab>
      </mdb-tabs>
    </div>
  </div>
</div>
