<div [ngClass]="{'border border-primary' : +detail.userBalance > 0}" class="card hover-shadow gov-pool-container">
  <span *ngIf="+detail.userBalance > 0" class="position-absolute">
    <div class="badge-staked">Staked</div>
  </span>
  <div class="card-body" style="cursor: pointer;" (click)="toggleExpanded()" aria-controls="belowSection"
    aria-expanded="false">
    <div class="d-flex align-items-center gap-2 pb-3 mb-3">
      <div class="flex-grow-1">
        <img class="spec-logo" src="/assets/logo2.png"/>
        <span class="h6">
          {{ detail.days === 0 ? 'No Lock' : detail.days + '-Day Locked' }}
        </span>
      </div>
      <div class="text-end">
        <div class="text-primary f-25 lh-1 fw-bold">{{ detail.apr | percent }} APR</div>
        <div class="text fw-bold f-14 lh-md">
          Daily {{ detail.apr / 365 | percent }}
          <i class="fas fa-info-circle info-icon" mdbTooltip="SPEC staking return from vault fee"></i>
        </div>
      </div>
    </div>

    <div class="d-flex gap-2">
      <div class="flex-grow-1 d-flex flex-column gap-2">
        <div>
          <div>
            <p class="sub-topic">Total Staked</p>
          </div>
        </div>
      </div>
      <div class="text-end">
        <app-digit [value]="+detail.balance"></app-digit> SPEC
      </div>
    </div>
    <hr class="dropdown-divider" />
    <div class="row pt-4">
      <div class="card card-md">
        <div class="card-body">
          <img *ngIf="+detail.userBalance >0 && detail.unlockAt"  src="../../../../assets/Vector.svg" alt="" class="lock-icon">
          <p class="card-text text-center">
            <span class="sub-topic">Your Staked</span>
            <small *ngIf="+detail.userBalance >0 && detail.unlockAt" class="text-primary">
              Unlock{{!isWithdrawLocked ? "ed" : ""}} {{ detail.unlockAt | timeago }}
            </small>
          </p>
          <h3 class="card-title text-center">
            <app-digit [value]="+detail.userBalance"></app-digit> SPEC
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body pt-0" #belowSection="mdbCollapse" mdbCollapse>
    <div class="p-3 bg-dark rounded">
      <mdb-tabs [justified]="true" (activeTabChange)="onActiveTabChange()">
        <mdb-tab title="Deposit">
          <div class="d-grid gap-3">
            <div>
              <div class="small text-muted text-end fw-bold">
                Balance: {{ walletBalance | number }} SPEC
              </div>
              <div class="input-group">
                <span class="input-group-text igt-fixwidth fw-bold" [ngClass]="{'is-invalid': depositAmountModel.invalid }">SPEC</span>
                <input type="number" class="form-control fix-border" [class.is-invalid]="depositAmountModel.invalid"
                  placeholder="0.000000" [pattern]="'^[0-9]+(.[0-9]{0,6})?$'" [max]="+walletBalance"
                  [(ngModel)]="depositAmount" #depositAmountModel="ngModel" (change)="calculateDepositUnlock()">
                <button class="btn btn-primary"
                  (click)="depositAmount = +walletBalance; calculateDepositUnlock()">Max</button>
                <div *ngIf="depositAmountModel.errors?.max; then exceededBalanceError"></div>
                <div *ngIf="depositAmountModel.errors?.pattern; then maxDecimalPlacesError"></div>
              </div>
            </div>
            <div *ngIf="detail.days > 0" class="d-flex flex-wrap small text-muted">
              <div class="flex-grow-1">Estimated Unlock Time:&nbsp;</div>
              <div>{{ estimatedDepositUnlock ? (estimatedDepositUnlock | date:'medium') : '-' }}</div>
            </div>
            <button type="button" class="btn btn-lg btn-primary" (click)="submitDeposit()"
              [disabled]="depositAmount <= 0 || depositAmountModel.invalid">
              Deposit
            </button>
          </div>
        </mdb-tab>

        <mdb-tab [disabled]="!detail.moveOptions.length" title="Move">
          <div class="d-grid gap-3">
            <div *ngIf="detail.moveOptions.length > 1">
              <div class="small">Lock Duration (Days)</div>
              <div class="btn-group w-100">
                <button *ngFor="let option of detail.moveOptions" type="button" class="btn btn-lg"
                  [class.btn-secondary]="moveDays === option.days"
                  [class.btn-outline-secondary]="moveDays !== option.days"
                  (click)="moveDays = option.days; calculateMoveUnlock()">
                  {{ option.days }}
                </button>
              </div>
            </div>
            <div>
              <div class="small text-muted text-end fw-bold">
                Balance: {{ detail.userBalance | number }} SPEC
              </div>
              <div class="input-group">
                <span class="input-group-text igt-fixwidth fw-bold" [ngClass]="{ 'is-invalid' : moveAmountModel.invalid }">SPEC</span>
                <input type="number" class="form-control fix-border" [class.is-invalid]="moveAmountModel.invalid"
                  placeholder="0.000000" [pattern]="'^[0-9]+(.[0-9]{0,6})?$'" [max]="+detail.userBalance"
                  [(ngModel)]="moveAmount" #moveAmountModel="ngModel" (change)="calculateMoveUnlock()">
                <button class="btn btn-primary"
                  (click)="moveAmount = +detail.userBalance; calculateMoveUnlock()">Max</button>
                <div *ngIf="moveAmountModel.errors?.max; then exceededBalanceError"></div>
                <div *ngIf="moveAmountModel.errors?.pattern; then maxDecimalPlacesError"></div>
              </div>
            </div>
            <div *ngIf="detail.moveOptions.length === 1" class="d-flex flex-wrap small text-muted">
              <div class="flex-grow-1">Lock Duration:&nbsp;</div>
              <div>{{ moveDays }} Day{{moveDays > 1 ? "s" : ""}}</div>
            </div>
            <div class="d-flex flex-wrap small text-muted">
              <div class="flex-grow-1">Estimated Unlock Time:&nbsp;</div>
              <div>{{ estimatedMoveUnlock ? (estimatedMoveUnlock | date:'medium') : '-' }}</div>
            </div>
            <button type="button" class="btn btn-lg btn-primary" (click)="submitMove()"
              [disabled]="moveAmount <= 0 || moveAmountModel.invalid">
              Move
            </button>
          </div>
        </mdb-tab>

        <mdb-tab title="Withdraw">
          <div class="d-grid gap-3">
            <div>
              <div class="small text-muted text-end fw-bold">
                Balance: {{ detail.userAvailableBalance | number }} SPEC <span *ngIf="detail.userBalance !== detail.userAvailableBalance">
                  (Locked: {{+detail.userBalance - +detail.userAvailableBalance | number}} SPEC from voting)
                </span>
              </div>
              <div class="input-group">
                <span class="input-group-text igt-fixwidth fw-bold" [ngClass]="{'is-invalid': withdrawAmountModel.invalid }">SPEC</span>
                <input type="number" class="form-control fix-border" [class.is-invalid]="withdrawAmountModel.invalid"
                  placeholder="0.000000" [pattern]="'^[0-9]+(.[0-9]{0,6})?$'" [max]="+detail.userAvailableBalance"
                  [(ngModel)]="withdrawAmount" #withdrawAmountModel="ngModel" [disabled]="isWithdrawLocked">
                <button class="btn btn-primary" (click)="withdrawAmount = +detail.userAvailableBalance"
                  [disabled]="isWithdrawLocked">
                  Max
                </button>
                <div *ngIf="withdrawAmountModel.errors?.max; then exceededBalanceError"></div>
                <div *ngIf="withdrawAmountModel.errors?.pattern; then maxDecimalPlacesError"></div>
              </div>
            </div>
            <button type="button" class="btn btn-lg btn-primary" (click)="submitWithdraw()"
              [disabled]="isWithdrawLocked || withdrawAmount <= 0 || withdrawAmountModel.invalid">
              {{ isWithdrawLocked ? 'Locked until ' + (detail.unlockAt | date:'medium') : 'Withdraw' }}
            </button>
          </div>
        </mdb-tab>
      </mdb-tabs>
    </div>
  </div>
</div>

<ng-template #exceededBalanceError>
  <div class="invalid-feedback">
    Amount must not be greater than the balance
  </div>
</ng-template>

<ng-template #maxDecimalPlacesError>
  <div class="invalid-feedback">
    Amount must be within 6 decimal points
  </div>
</ng-template>