
.icon-footer {
  width: 24px;
  display: inline-block;
  background-size: 100% 100%;
  height: 24px;
}

.icon-medium {
  background: url("/assets/Group 165.svg") no-repeat;
}

.icon-twitter {
  background: url("/assets/Group 164.svg") no-repeat;
}

.icon-telegram-ann {
  background: url("/assets/Group 166.svg") no-repeat;
}

.icon-telegram-group {
  background: url("/assets/Group 166.svg") no-repeat;
}

.icon-github {
  background: url("/assets/Group 167.svg") no-repeat;
}

.icon-gitbook {
  background: url("/assets/Group 168.svg") no-repeat;
}

.icon-coingecko {
    background: url("/assets/Group 169.svg") no-repeat;
}

.icon-coinmarketcap {
  background: url("/assets/Group 170.svg") no-repeat;
}
