<!-- Footer -->
<footer class="text-center text-muted">
  <!-- Section: Social media -->
  <section
    class="container d-flex flex-md-row flex-column-reverse justify-content-center justify-content-md-between align-items-center pb-4">
    <!-- Left -->
    <div class="d-flex justify-content-center footer-container">
      <div *ngIf="router.url !== '/vaults'" class="d-inline-block">Audited by <a
          href="https://github.com/HalbornSecurity/PublicReports/blob/master/CosmWasm%20Smart%20Contract%20Audits/Spectrum_Protocol_CosmWasm_Smart_Contract_Security_Audit_Halborn_Report_v1_1.pdf"
          target="_blank"><img src="assets/halborn_logo.svg" alt="Halborn" class="platform-logo-halborn"></a></div>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="d-flex justify-content-between">
      <a href="https://spectrum-protocol.medium.com/" target="_blank" class="ms-3 icon-footer icon-medium"
        title="Medium">
      </a>
      <a href="https://twitter.com/SpecProtocol" target="_blank" class="ms-3 icon-footer icon-twitter" title="Twitter">
      </a>
      <a href="https://t.me/spectrum_protocol_annoucement" target="_blank" class="ms-3 icon-footer icon-telegram-ann"
        title="Telegram Announcement">
      </a>
      <a href="https://t.me/spec_finance" target="_blank" class="ms-3 icon-footer icon-telegram-group"
        title="Telegram Group">
      </a>
      <a href="https://github.com/spectrumprotocol" target="_blank" class="ms-3 icon-footer icon-github" title="Github">
      </a>
      <a href="https://docs.spec.finance" target="_blank" class="ms-3 icon-footer icon-gitbook" title="Gitbook">
      </a>
      <a href="https://www.coingecko.com/en/coins/spectrum-token" target="_blank"
        class="ms-3 icon-footer icon-coingecko" title="Coingecko">
      </a>
      <a href="https://coinmarketcap.com/currencies/spectrum-token" target="_blank"
        class="ms-3 icon-footer icon-coinmarketcap" title="Coinmarketcap">
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

</footer>
<!-- Footer -->
<!-- Spacer -->
<nav class="navbar navbar-expand d-md-none">
  <div class="container-fluid mb-2">
    <ul class="navbar-nav">
      <li class="nav-item ms-1 me-1">
        <a class="nav-link"></a>
      </li>
    </ul>
  </div>
</nav>
<!-- Spacer -->