.icon-coingecko {
    width: 21px;
    display: inline-block;
    background: url("/assets/coingecko.svg") no-repeat;
    background-size: 100% 100%;
}

.icon-coinmarketcap {
  width: 21px;
  display: inline-block;
  background: url("/assets/coinmarketcap.svg") no-repeat;
  background-size: 100% 100%;
}
