@import "../asset-card.component.scss";

.border-6 {
    border-radius: 6px;
}

.btn-close {
    color: white;
}

.card-title {
    display: flex;
}

.tab-container {
    border-radius: 6px;
    padding-top: 10px;
    span.is-invalid {
        border: 1px solid $text-error;
    }

    .fix-border {
        border-radius: 0px;
        color: #fff;
        border: 1px solid $gray-970;
        background-color: $gray-960;
        &:focus {
            box-shadow: none;
        }
    }

    .fix-border::placeholder {
        color: $white;
    }

    .fix-border.is-invalid {
        border: 1px solid $text-error;
        margin: 1px;
    }

    .fw-bold-600 {
        font-weight: 600;
    }
}

.card-green {
    background-color: $gray-950 !important;
    border: 0;
    text-align: center;
    .card-body {
      padding: 1rem 0.5rem;
      a {
          text-decoration: underline;
          color: white;
          font-weight: 700;
      }
    }
}

.card-red {
    background-color: $card-red-bg;
    border: solid 1px $card-red-border;
    .card-body {
      padding: 0.5em 0.5em;
      .bulk-name-container {
        display: flex;
        align-items:center;
      }
    }
}

.assetIcon {
  width: 33px;
  height: 33px;
  padding: 2px;
}

.token-denom{
  position: inherit;
  //z-index: -1;
  margin-left: -10px;
}

//.assetIcon {
//    width: 30px;
//    height: 30px;
//    padding: 4px;
//    background-color: white;
//  }
//
//.mAssetIcon-list-sm {
//    width: 30px;
//    height: 30px;
//    padding: 2px;
//    background-color: $main-bg;
//    position: inherit;
//}

.auto-container {
    .btn-group {
        height: 50px;
    }
    .btn-auto {
        border: solid 1px $primary;
        background-color: $btn-bg;
        font-weight: bold;
        z-index: 1;
    }
    .btn-outline-auto {
        color: white;
        border: 0;
        background-color: $gray-950;
        font-weight: bold;
    }
}

.auto-compound {
    padding: 15px;
    border-radius: 6px;
    background-color: $gray-950;
    width: max-content;
}

.dropdown {
    .btn-drop {
        background-color: $gray-960;
        border: 1px solid $gray-970;
        height: 48px;
        font-weight: bold;
        font-size: 12px;
        box-shadow: none;
        &:focus {
            box-shadow: none;
        }
    }
    .is-invalid {
        border: 1px solid $text-error;
        &:focus, .is-invalid:hover {
            box-shadow: none;
        }
    }

    .dropdown-toggle {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
}

.deposit-icon {
    width: 20px;
    height: 20px;
    position: inherit;
}

.deposit-icon-ust {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-top: 5px;
}

.deposit-ust {
    margin: -10px 5px 0 5px;
}

.image-6 {
    opacity: 0.23;
    padding-top: 10px;
    opacity: 0.23;
}
