@import "../../scss/variables";

.logo {
    width: 48px;
    height: 48px;
}

.navbar {
    padding-bottom: 0.5625rem;
}

.navbar-bg {
    background-color: $main-bg;
    box-shadow: none;
}

.navbar-sm-bg {
    background-color: $main-bg;
}

.nav-item {
    font-weight: bold;
    font-size: 14px;
    .nav-link {
        color: white;
        padding: 10px 20px !important;
        margin: 5px !important;
        width: 120px;
    }
}

.nav-item .active {
    border-radius: 6px;
    background-color: $btn-bg;
    border-color: rgba(255, 255, 255, 0.5);
}

.navbar-collapse {
    .navbar-nav {
        li > a {
            padding: 10px;
        }
    }
}

.btn-sm {
    font-size: 12px;
}
