.logo {
    width: 30px;
    height: 30px;
}

.navbar-bg {
    background-color: rgba(9, 9, 9, 0);
    box-shadow: none;
}

.navbar-sm-bg {
    background-color: rgba(9, 9, 9, 1);
}

.navbar-brand {
    font-family: "Roboto";
}
