<div class="card p-3">
  <div class="row">
    <div class="col">
      <h5 class="text-center">My Total Value
      <i class="margin-left-auto margin-top-close-button fas fa-times fa-lg float-end fs-5" role="button" (click)="closeModal()"></i>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <div class="card card-sm box-left">
      <div class="card-body p-05">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-sm-12">
              <div class="f-12">Total Value Locked</div>
              <div class="fs-6 fw-bold"><app-digit [duration]=300 [value]="info.myTvl"></app-digit> UST</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="d-flex pb-2">
      <span class="legend-square bg-light"></span> Total
      <span class="margin-left-auto">
        <app-digit [duration]=300 [value]="info.myTvl"></app-digit> UST
        <div class="your-tvl-percentage"></div>
      </span>
    </div> -->
  <div class="row farm-info-container">
    <div class="d-flex ptb-10">
      <div class="fs-6 sub-topic">Breakdown</div>
    </div>
    <ng-container *ngFor="let chartData of chartDataList; let i = index; trackBy: trackChartData">
      <div class="d-flex ptb-10" *ngIf="chartData.value > 0.01" [ngClass]="{'switch-grey': i%2 === 0 }">
        <span class="legend-square" [style.background-color]="chartColors.domain[i]"></span> {{chartData.name}}
        <span class="margin-left-auto">
          <app-digit [duration]=300 [value]="chartData.value" [format]="'1.2-2'"></app-digit> UST
          <div class="your-tvl-percentage">(<app-digit [duration]=300 [value]="chartData.value * 100 / info.myTvl" [format]="'1.2-2'"></app-digit> %)</div>
        </span>
      </div>
    </ng-container>
  </div>
  <div class="d-flex justify-content-center">
    <ngx-charts-pie-chart [view]="[250, 250]" [results]="chartDataList" [scheme]="chartColors" [gradient]="false"
      [legend]="false" [labels]="false" [doughnut]="false">
    </ngx-charts-pie-chart>
  </div>
</div>
</div>
