<div class="card p-3">
  <div class="row">
    <div class="col">
      <h5 class="text-center">My Total Value
      <i class="margin-left-auto margin-top-close-button fas fa-times fa-lg float-end fs-5" role="button" (click)="closeModal()"></i>
      </h5>
    </div>
  </div>
  <div class="card-body">
    <div class="card card-sm box-left">
      <div class="card-body p-05">
        <div class="col-12">
          <div class="row">
            <div class="col-12 col-sm-12">
              <div class="f-12">Total Value locked</div>
              <div class="fs-6 fw-bold"><app-digit [duration]=300 [value]="info.myTvl"></app-digit> UST</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="d-flex pb-2">
      <span class="legend-square bg-light"></span> Total
      <span class="margin-left-auto">
        <app-digit [duration]=300 [value]="info.myTvl"></app-digit> UST
        <div class="your-tvl-percentage"></div>
      </span>
    </div> -->
  <div class="row farm-info-container" *ngIf="info.portfolio?.total_reward_ust > 0.01">
    <div class="d-flex ptb-10">
      <div class="fs-6 sub-topic">Breakdown</div>
    </div>
    <ng-container *ngFor="let farmInfo of farmInfoList; let i = index;">
      <div class="d-flex" *ngIf="info.portfolio?.farms.get(farmInfo.farm).bond_amount_ust > 0.01" [ngClass]="{'switch-grey': 0 === i % 2}">
        <span class="legend-square bg-{{farmInfo.farm}}"></span> {{farmInfo.farm}} farm
        <span class="margin-left-auto">
          <app-digit [duration]=300 [value]="info.portfolio?.farms.get(farmInfo.farm).bond_amount_ust" [format]="'1.2-2'"></app-digit> UST
          <div class="your-tvl-percentage">(<app-digit [duration]=300 [value]="info.portfolio?.farms.get(farmInfo.farm).bond_amount_ust * 100 / info.myTvl" [format]="'1.2-2'"></app-digit> %)</div>
        </span>
      </div>
    </ng-container>
    <div class="pt-2"></div>
    <div class="d-flex ptb-10" [ngClass]="{'switch-grey': 0 === farmInfoList?.length % 2}" *ngIf="info.portfolio?.gov.pending_reward_ust > 0.01">
      <span class="legend-square bg-item0"></span> SPEC staked in Gov
      <span class="margin-left-auto">
        <app-digit [duration]=300 [value]="info.portfolio?.gov.pending_reward_ust" [format]="'1.2-2'"></app-digit> UST
        <div class="your-tvl-percentage">(<app-digit [duration]=300 [value]="info.portfolio?.gov.pending_reward_ust * 100 / info.myTvl" [format]="'1.2-2'"></app-digit> %)</div>
      </span>
    </div>
    <div class="d-flex ptb-10" [ngClass]="{'switch-grey': 0 === farmInfoList?.length % 2}" *ngIf="info.portfolio?.total_reward_ust > 0.01">
      <span class="legend-square bg-item1"></span> Total staked in Vaults
      <span class="margin-left-auto">
        <app-digit [duration]=300 [value]="info.portfolio?.total_reward_ust" [format]="'1.2-2'"></app-digit> UST
        <div class="your-tvl-percentage">(<app-digit [duration]=300 [value]="info.portfolio?.total_reward_ust * 100 / info.myTvl" [format]="'1.2-2'"></app-digit> %)</div>
      </span>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <ngx-charts-pie-chart [view]="[250, 250]" [results]="chartDataList" [scheme]="chartColors" [gradient]="false"
      [legend]="false" [labels]="false" [doughnut]="false">
    </ngx-charts-pie-chart>
  </div>
</div>
</div>
