@import '~mdb-angular-ui-kit/assets/scss/free/variables';

.loader-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    .loader__box {
        background-color: $gray-800;
        padding: 1rem;
        border-radius: 4px;
        color: $white;
    }

    svg {
        animation: rotate 2s linear infinite;
        transform-origin: center center;
        width: 20px;
        height: 20px;
        margin-right: 1rem;

        circle {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
            animation: dash 1.5s ease-in-out infinite;
            stroke: $yellow-500;
            stroke-linecap: round;
        }
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
