<!-- <div>
  <span class="fw-bold">Total Staked: </span>
  <span class="text-muted">($<app-digit [value]="info.portfolio?.total_reward_ust"></app-digit>)</span>

  <button class="btn btn-outline-primary ms-2" type="button" (click)="manageRewards()"
    title="Manage your staked rewards in vaults" [disabled]="!info.portfolio?.total_reward_ust">
    Manage Rewards
  </button>

  <button class="btn btn-outline-primary ms-2" type="button" aria-expanded="false" (click)="unstakeAll()"
    title="Unstake all rewards in vaults and withdraw to your wallet" [disabled]="!info.portfolio?.total_reward_ust">
    Claim Staked Rewards
  </button>

  <a routerLink="/tx-history" routerLinkActive="active"><button type="button" class="btn btn-outline-light ms-2"
      title="Show transaction history"><i class="fas fa-history"></i></button></a>
</div> -->

<div class="card box-left unstake-container">
  <div class="row card-body card-grey m-0 border-6 ps-3">
    <div class="col-4 p-0 total">
        <div class="card-text sub-topic">
          Total Rewards
        </div>
          <h3 class="card-title text-primary">
            <app-digit [value]="info.portfolio?.total_reward_ust"></app-digit> <span class="cur-title text-white"> UST</span>
          </h3>
      </div>
      <div class="col-8 p-0">
        <div class="float-end">
          <span class="btn-group">
            <button class="btn btn-sm btn-outline-light ms-2" type="button" aria-expanded="false" (click)="manageRewards()" [disabled]="disableManageRewards()"
            title="Show Manage Rewards dialog">
            Manage Rewards
            </button>
            <a routerLink="/tx-history" routerLinkActive="active"><button type="button" class="btn btn-sm btn-outline-light ms-2 p-2"
              title="Show transaction history"><img width="27" height="27" class="icon-history" src="../../../assets/Icon_History.svg"></button></a>
          </span>
        </div>
      </div>
  </div>
</div>