<main>
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <h2>Autofarm Vaults <i class="fas fa-shield-alt"></i></h2>
        <span>Provide liquidity here. Spectrum will collect rewards for you. Plus, you will earn SPEC tokens.</span>
      </div>
    </div>
    <div class="row g-3 pt-3">
      <div class="col-12 col-md-4">
        <div class="card box-left">
          <div class="card-body">
            <p class="card-text">
              Total Value Locked <i class="fas fa-info-circle info-icon"
                mdbTooltip="Total value of provided liquidity and staked SPEC"></i>
            </p>
            <h5 class="card-title">
              <app-digit [value]="+info.stat?.tvl / UNIT"></app-digit> UST
            </h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card box-left">
          <div class="card-body">
            <p class="d-flex card-text mb-3">
              SPEC Price
              <a class="margin-left-auto text-light small" href="https://coinhall.org/charts/terra/terra1tn8ejzw8kpuc87nu42f6qeyen4c7qy35tl8t20" target="_blank"><i class="fas fa-chart-line"></i>&nbsp;<span class="text-underline">Chart</span></a>
            </p>
            <h5 class="card-title">
              <app-digit [value]="+info.specPrice"></app-digit> UST
            </h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card box-left bg-primary">
          <div class="card-body">
            <div class="d-flex card-text mb-3">
              Your TVL <i class="fas fa-info-circle info-icon"
                mdbTooltip="Your provided liquidity, staked rewards, and staked SPEC"></i>
              <a role="button" class="margin-left-auto text-light small" *ngIf="!cannotOpenYourTVL()"
                (click)="openYourTVL()"><i class="fas fa-chart-pie"></i>&nbsp;<span class="text-underline">Details</span></a>
            </div>
            <h5 class="card-title">
              <span *ngIf="+info.myTvl" class="fas fa-chevron-up animate-up text-success"></span>&nbsp;<app-digit
                [value]="info.myTvl"></app-digit> UST
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="notice border border-primary text-center">⚡ Spectrum Protocol is being audited, please use your own
        discretion before investing. (<a href="https://docs.spec.finance/transparency" target="_blank">more details</a>)
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row pt-3">
      <div class="p2 flex-md-grow-1 me-3">
        <div class="input-group">
          <span class="input-group-text border-0" id="search-addon"><i class="fas fa-search"></i></span>
          <input type="text" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" [(ngModel)]="search" (ngModelChange)="refresh()" />
        </div>
      </div>

      <div class="p2 pt-2 pt-sm-0">
        <div class="input-group">
          <div mdbDropdown class="dropdown" #dropdown>
            <button mdbDropdownToggle class="btn btn-secondary dropdown-toggle" type="button" aria-expanded="false">
              Sort by
            </button>
            <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" [class.active]="sortBy === 'multiplier'"
                  (click)="sortBy = 'multiplier'; refresh()">Default</a>
              </li>
              <li>
                <a class="dropdown-item" [class.active]="sortBy === 'apy'" (click)="sortBy = 'apy'; refresh()">APY%</a>
              </li>
              <li>
                <a class="dropdown-item" [class.active]="sortBy === 'tvl'" (click)="sortBy = 'tvl'; refresh()">TVL</a>
              </li>
            </ul>
          </div>
          <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" id="showDepositedPoolOnly"
              [(ngModel)]="showDepositedPoolOnly" (change)="refresh();memoize('deposit')" />&nbsp;<label
              for="showDepositedPoolOnly">Deposited only</label>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="loading" class="text-center pt-3"><span class="spinner-grow spinner-grow-sm" role="status"
        aria-hidden="true"></span> Loading...</div>

    <div *ngIf="!loading" class="d-flex justify-content-between pt-3">
      <div class="d-flex justify-content-start align-items-end">
        <div class="d-none d-md-flex">
          <span  class="fw-bold text-light"><i class="fas fa-hashtag text-primary"></i> {{vaults.length}} Vaults</span>
        </div>
      </div>
      <div *ngIf="terrajs.isConnected" class="d-flex justify-content-end">
        <app-unstake-all></app-unstake-all>
      </div>
    </div>

    <div class="row pt-3 g-3">
      <ng-container *ngFor="let vault of vaults; trackBy: vaultId">
        <app-asset-card [vault]="vault"></app-asset-card>
      </ng-container>
    </div>
  </div>
</main>
