<main>
  <div class="container vault-container py-5">
    <div class="row">
      <div class="col-12 col-md-8">
        <h4>Autofarm Vaults</h4>
        <span class="sub-topic">Provide liquidity here. Spectrum will collect rewards for you. Plus, you will earn SPEC
          tokens.</span>
      </div>
      <div class="col-12 col-md-4 pt-2 d-flex justify-content-end align-items-end">
        <div class="d-inline-block f-12">
          Audited by <a
          href="https://github.com/HalbornSecurity/PublicReports/blob/master/CosmWasm%20Smart%20Contract%20Audits/Spectrum_Protocol_CosmWasm_Smart_Contract_Security_Audit_Halborn_Report_v1_1.pdf"
          target="_blank">
          <img alt="Halborn" class="platform-logo-halborn" src="assets/halborn_logo.svg"></a>
        </div>
        <div class="d-inline-block f-12 ms-2">
          Get covered at <a
          href="https://app.insurace.io/Insurance/Cart?id=131&referrer=1384813702756895043012775057428368748461042504960"
          target="_blank">
          <img alt="InsurAce" class="platform-logo-insurace" src="assets/insurace.svg"></a>
        </div>
      </div>
    </div>
    <div class="row g-1 pt-3">
      <div class="col-12 col-md-6">
        <div class="card card-grey box-left">
          <div class="card-body ps-3 pe-3">
            <p class="card-text sub-topic">
              Total Value Locked
            </p>
            <h3 class="card-title">
              <app-digit [value]="+info.stat?.tvl / UNIT"></app-digit>
              <span class="cur-title"> UST</span>
              <i class="fas fa-info-circle info-icon margin-left-auto float-end md-icon mg-10"
                 mdbTooltip="Total value of provided liquidity and staked SPEC"></i>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card card-grey box-left">
          <div class="card-body ps-3">
            <p class="card-text sub-topic">
              SPEC Price
            </p>
            <h3 class="card-title">
              <app-digit [value]="+info.specPrice"></app-digit>
              <span class="cur-title"> UST</span>
              <a alt="SPEC price chart"
                 class="margin-left-auto text-light small"
                 href="https://coinhall.org/charts/terra/terra1tn8ejzw8kpuc87nu42f6qeyen4c7qy35tl8t20" target="_blank"
                 title="SPEC price chart">
                <img class="float-end mg-18" src="../../../assets/Icon_Chart.svg">
              </a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card card-grey box-left">
          <div class="card-body ps-3">
            <p class="card-text sub-topic">
              Market Cap
            </p>
            <h3 class="card-title">
              <app-digit *ngIf="info.marketCap" [value]="info.marketCap"></app-digit>&nbsp;<span *ngIf="info.marketCap"
                                                                                                 class="cur-title">UST</span>
            </h3>
          </div>
        </div>
      </div>
      <div *ngIf="terrajs.isConnected" class="col-12 col-md-6">
        <div class="card card-grey box-left">
          <div class="card-body ps-3">
            <div class="d-flex align-items-center">
              <div *ngIf="+info.myTvl" class="flex-shrink-0 me-3 tvl-chevron-up">
                <span class="fas fa-chevron-up animate-up text-success"></span>
              </div>
              <div class="flex-grow-1">
                <div class="card-text sub-topic">
                  My Total Value <i class="fas fa-info-circle info-icon super"
                                    mdbTooltip="Your provided liquidity, staked rewards, and staked SPEC"></i>
                </div>
                <h3 class="card-title text-primary">
                  <app-digit [value]="info.myTvl"></app-digit>
                  <span class="cur-title text-white"> UST</span>
                  <a (click)="openYourTVL()" *ngIf="!loading && terrajs.isConnected"
                     class="margin-left-auto text-light small"
                     role="button"><img alt="Portfolio allocation" class="float-end mg-18"
                                        src="../../../assets/Icon_PieChart.svg" title="Portfolio allocation"></a>
                </h3>
              </div>
            </div>
            <!-- <div class="card-text sub-topic">
                My Total Value <i class="fas fa-info-circle info-icon"
                mdbTooltip="Your provided liquidity, staked rewards, and staked SPEC"></i>
            </div>
            <h3 class="card-title">
              <span *ngIf="+info.myTvl" class="fas fa-chevron-up animate-up text-success pe-1"></span>
              <app-digit
                [value]="info.myTvl"></app-digit> <span class="cur-title"> UST</span>
                <a role="button" *ngIf="!loading && terrajs.isConnected" class="margin-left-auto text-light small"
                (click)="openYourTVL()"><img class="float-end " src="../../../assets/Icon_PieChart.svg"></a>
            </h3> -->
          </div>
        </div>
      </div>
      <div *ngIf="terrajs.isConnected" class="col-12 col-md-6">
        <!--   -->
        <app-unstake-all></app-unstake-all>
      </div>

      <div class="col-12">
        <div class="terra-container mt-2 mb-2">
          <span>
            The platform for automated delta-neutral Mirror mAssets. <a href="https://aperture.finance/?ref=Spectrum"
                                                                        target="_blank"> Aperture Finance </a> has launched!
          </span>
        </div>
      </div>

      <div class="col-12 col-md-5">
        <div class="card box-left">
          <div class="card-body card-grey d-none d-sm-block border-6">
            <div class="d-flex justify-content-between">
              <div>
                <div class="d-none d-sm-block">
                  <a (click)="setIsGrid(true)" style="cursor:pointer">
                    <img [src]="isGrid ? '../../../assets/Icon-grid-white.svg' : '../../../assets/Icon-grid-grey.svg'">
                  </a>
                  <a (click)="setIsGrid(false)" style="cursor:pointer">
                    <img [src]="!isGrid ? '../../../assets/Icon-list-white.svg' : '../../../assets/Icon-list-grey.svg'">
                  </a>
                </div>
              </div>
              <div>
                <span class="align-sub sub-topic text-dropdown">Deposited only</span>
                <label class="switch">
                  <input (change)="refresh();memoize('deposit')" [(ngModel)]="showDepositedPoolOnly"
                         id="showDepositedPoolOnly"
                         type="checkbox">
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="card-body card-grey d-block d-sm-none border-6">
            <div class="d-flex justify-content-end">
              <div>
                <span class="align-sub">Deposited only</span>
                <label class="switch">
                  <input (change)="refresh();memoize('deposit')" [(ngModel)]="showDepositedPoolOnly"
                         id="showDepositedPoolOnlyMobile"
                         type="checkbox">
                  <span class="slider"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 col-sm-8 col-md-3">
        <div class="card box-left">
          <div class="card-body card-grey border-6">
            <div class="d-flex">
              <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback mg-3"></span>
                <input (ngModelChange)="refresh()" [(ngModel)]="search" aria-describedby="search-addon"
                       aria-label="Search" class="form-control placeholder-white" placeholder="Search vaults"
                       type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 col-sm-2 col-md-2">
        <div class="card box-left">
          <div class="card-body card-grey p-0 border-6 school-options-dropdown text-center">
            <div class="d-flex">
              <div #dropdownFarmFilter [class.active-border]="activeFarm !== defaultActiveFarm"
                   class="dropdown w-100 btn-group"
                   mdbDropdown>
                <button aria-expanded="false" class="btn p-0" mdbDropdownToggle type="button">
                  <img *ngIf="activeFarm !== 'Active farms' && activeFarm !== 'Disabled farms'"
                       [src]="activeFarm | url:'icon'"
                       class="mobile-icon" height="24"
                       width="24">
                  <img *ngIf="activeFarm === 'Active farms' || activeFarm === 'Disabled farms'" class="mobile-icon"
                       height="24" src="../../../assets/Icon_Farms.svg"
                       width="24">
                  <span class="text-dropdown d-none d-md-inline ps-2 sub-topic">{{activeFarm}}</span>
                  <span class="text-end filter">
                    <img class="ms-3" height="12" src="../../../assets/chevron-down.svg" width="12">
                  </span>
                </button>
                <ul class="dropdown-menu" mdbDropdownMenu>
                  <li>
                    <a (click)="activeFarm = 'Active farms'; refresh()" [class.active]="activeFarm === 'Active farms'"
                       class="dropdown-item">Active farms</a>
                  </li>
                  <li *ngFor="let farm of farmInfoDropdownList">
                    <a (click)="activeFarm = farm; refresh()" [class.active]="activeFarm === farm"
                       class="dropdown-item"> <img [src]="farm | url:'icon'" class="farm-logo">
                      {{farm}}</a>
                  </li>
                  <li>
                    <a (click)="activeFarm = 'Disabled farms'; refresh()"
                       [class.active]="activeFarm === 'Disabled farms'"
                       class="dropdown-item"><i
                      class="fas fa-ban text-white farm-logo"></i> Disabled farms</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 col-sm-2 col-md-2">
        <div class="card box-left">
          <div class="card-body p-0 border-6 school-options-dropdown text-center">
            <div #dropdownSortBy [class.active-border]="sortBy !== 'multiplier'" class="dropdown w-100 btn-group"
                 mdbDropdown>
              <button aria-expanded="false" class="btn p-0" mdbDropdownToggle type="button">
                <img class="mobile-icon" height="24" src="../../../assets/Icon_SortBy.svg" width="24">
                <span class="text-dropdown d-none d-sm-none d-md-inline sub-topic">Sort by</span>
                <span class="text-end filter">
                  <img class="ms-3" height="12" src="../../../assets/chevron-down.svg" width="12">
                </span>
              </button>
              <ul class="dropdown-menu" mdbDropdownMenu>
                <li>
                  <a (click)="sortBy = 'multiplier'; refresh()" [class.active]="sortBy === 'multiplier'"
                     class="dropdown-item">Default</a>
                </li>
                <li>
                  <a (click)="sortBy = 'apy'; refresh()" [class.active]="sortBy === 'apy'"
                     class="dropdown-item">APY%</a>
                </li>
                <li>
                  <a (click)="sortBy = 'dpr'; refresh()" [class.active]="sortBy === 'dpr'"
                     class="dropdown-item">DPR%</a>
                </li>
                <li>
                  <a (click)="sortBy = 'tvl'; refresh()" [class.active]="sortBy === 'tvl'" class="dropdown-item">TVL</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="loading" class="d-flex align-items-center justify-content-center pt-3"><span
      aria-hidden="true" class="spinner-grow spinner-grow-sm" role="status"></span>&nbsp;Loading...
    </div>

    <div *ngIf="!loading" class="d-flex justify-content-between pt-3">
      <div class="d-flex justify-content-start align-items-end">
        <div class="d-none d-md-flex">
          <span class="fw-bold text-light"><i class="fas fa-hashtag"></i> {{vaults.length}} {{
            vaults.length > 1 ? "Vaults" : "Vault"}}</span>
        </div>
      </div>
    </div>

    <div class="row pt-2 g-3">
      <ng-container *ngFor="let vault of vaults; trackBy: vaultId">
        <div [ngClass]="{'col-lg-4': isGrid, 'col-sm-6': isGrid, 'col-12': !isGrid  }">
          <!--          [useShortNumber]="!shouldBeGrid"-->
          <app-asset-card [isGrid]="isGrid" [vault]="vault"></app-asset-card>
        </div>
      </ng-container>
    </div>
  </div>
</main>
