.notice {
    width: 80%;
    border-style: dashed !important;
    margin: 0 auto;
}

.farm-logo {
    height: 1.5rem;
    width: auto;
}

.search-bar::placeholder {
    color: #bdbdbd;
}

.animate-up {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-0.2em);
    }
}
@keyframes mover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-0.2em);
    }
}

.has-search .form-control {
    padding-left: 2.375rem;
    border: 0;
    max-height: 31.5px;
}

.has-search .form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
    outline-style: none;
    background-color: #29303A;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: white;
}

.pd-2 {
  padding: 2px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5c6776;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #FC5185;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #FC5185;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .align-sub {
    vertical-align: sub;
    margin-right: 10px;
  }

  .terra-container {
    height: 63px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    border-radius: 6px;
    background-image: linear-gradient(268deg, #00ade7 94%, #050831 4%);
  }

@media (max-width: 414px) {
    .filter {
      display: none;
    }
}

@media (min-width: 414px) and (max-width: 768px) {
  .filter {
    display: none;
  }
}