<main>
  <div class="container vault-container py-5">
    <div class="row">
      <div class="col-12">
        <h4>Autofarm Vaults</h4>
        <!-- <div class="seperator"></div> -->
        <span class="sub-topic">Provide liquidity here. Spectrum will collect rewards for you. Plus, you will earn SPEC tokens.</span>
      </div>
    </div>
    <div class="container pt-5">
      <div class="row">
        <div class="d-flex justify-content-end pe-0">
          <div class="d-inline-block f-14">Audited by <a href="https://github.com/HalbornSecurity/PublicReports/blob/master/CosmWasm%20Smart%20Contract%20Audits/Spectrum_Protocol_CosmWasm_Smart_Contract_Security_Audit_Halborn_Report_v1_1.pdf" target="_blank">
            <img src="assets/halborn_logo.svg" alt="Halborn" class="platform-logo-halborn"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-1 pt-3">
      <div class="col-12 col-md-6">
        <div class="card card-grey box-left">
          <div class="card-body">
            <p class="card-text sub-topic">
              Total value locked
            </p>
            <h3 class="card-title">
              <app-digit [value]="+info.stat?.tvl / UNIT"></app-digit> <span class="cur-title"> UST</span>
              <i class="fas fa-info-circle info-icon margin-left-auto float-end md-icon mg-10"
                mdbTooltip="Total value of provided liquidity and staked SPEC"></i>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card card-grey box-left">
          <div class="card-body">
            <p class="card-text sub-topic">
              SPEC price
            </p>
            <h3 class="card-title">
              <app-digit [value]="+info.specPrice"></app-digit> <span class="cur-title"> UST</span>
              <a class="margin-left-auto text-light small"
                href="https://coinhall.org/charts/terra/terra1tn8ejzw8kpuc87nu42f6qeyen4c7qy35tl8t20" target="_blank">
                <img class="float-end mg-18" src="../../../assets/Icon _Chart.svg">
              </a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="card card-grey box-left">
          <div class="card-body">
            <p class="card-text sub-topic">
              Market cap
            </p>
            <h3 class="card-title">
              <app-digit *ngIf="marketCap" [value]="marketCap"></app-digit>&nbsp;<span class="cur-title" *ngIf="marketCap">UST</span>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <div class="card card-grey box-left">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0">
                <span *ngIf="+info.myTvl" class="fas fa-chevron-up animate-up text-success"></span>
              </div>
              <div class="flex-grow-1 ms-3">
                <div class="card-text sub-topic">
                  My Total value <i class="fas fa-info-circle info-icon"
                  mdbTooltip="Your provided liquidity, staked rewards, and staked SPEC"></i>
              </div>
              <h3 class="card-title text-primary">
                <app-digit
                  [value]="info.myTvl"></app-digit> <span class="cur-title text-white"> UST</span>
                  <a role="button" *ngIf="!loading && terrajs.isConnected" class="margin-left-auto text-light small"
                  (click)="openYourTVL()"><img class="float-end mg-18" src="../../../assets/Icon _ PieChart.svg"></a>
              </h3>
              </div>
            </div>
            <!-- <div class="card-text sub-topic">
                My Total Value <i class="fas fa-info-circle info-icon"
                mdbTooltip="Your provided liquidity, staked rewards, and staked SPEC"></i>
            </div>
            <h3 class="card-title">
              <span *ngIf="+info.myTvl" class="fas fa-chevron-up animate-up text-success pe-1"></span>
              <app-digit
                [value]="info.myTvl"></app-digit> <span class="cur-title"> UST</span>
                <a role="button" *ngIf="!loading && terrajs.isConnected" class="margin-left-auto text-light small"
                (click)="openYourTVL()"><img class="float-end " src="../../../assets/Icon _ PieChart.svg"></a>
            </h3> -->
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <!--   -->
        <app-unstake-all *ngIf="terrajs.isConnected"></app-unstake-all>
      </div>

      <div class="col-12 col-md-5">
        <div class="card box-left">
          <div class="card-body card-grey d-none d-sm-none d-md-block">
            <div class="d-flex justify-content-between">
              <div>
                <div class="d-md-none d-lg-block">
                  <img src="{{ isGrid ? '../../../assets/Icon-grid-white.svg' : '../../../assets/Icon-grid-grey.svg' }}" (click)="setIsGrid(true)">
                  <img src="{{ !isGrid ? '../../../assets/Icon-list-white.svg' : '../../../assets/Icon-list-grey.svg' }}" (click)="setIsGrid(false)">
                </div>
              </div>
              <div>
                  <span class="align-sub sub-topic text-dropdown">Deposited only</span>
                  <label class="switch">
                    <input type="checkbox" id="showDepositedPoolOnly"
                    [(ngModel)]="showDepositedPoolOnly" (change)="refresh();memoize('deposit')">
                    <span class="slider"></span>
                  </label>
              </div>
          </div>
          </div>
          <div class="card-body card-grey d-block d-md-none">
            <div class="d-flex justify-content-end">
              <div>
                  <span class="align-sub">Deposited only</span>
                  <label class="switch">
                    <input type="checkbox" id="showDepositedPoolOnlyMobile"
                    [(ngModel)]="showDepositedPoolOnly" (change)="refresh();memoize('deposit')">
                    <span class="slider"></span>
                  </label>
              </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-8 col-sm-8 col-md-3">
        <div class="card box-left">
          <div class="card-body card-grey">
            <div class="d-flex">
              <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback mg-3"></span>
                <input type="text" class="form-control placeholder-white" placeholder="Search vaults" aria-label="Search"
                aria-describedby="search-addon" [(ngModel)]="search" (ngModelChange)="refresh()" >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 col-sm-2 col-md-2">
        <div class="card box-left">
          <div class="card-body card-grey p-0">
            <div class="d-flex">
              <div mdbDropdown class="dropdown w-100 text-center" #dropdownFarmFilter>
                <button mdbDropdownToggle class="btn p-0 h-47" type="button" aria-expanded="false">
                  <img *ngIf="activeFarm !== 'All'" class="mobile-icon" [src]="activeFarm | url:'icon'" width="24" height="24">
                  <img *ngIf="activeFarm === 'All'"  class="mobile-icon" src="../../../assets/Icon _ Farms.svg" width="24" height="24">
                  <span class="text-dropdown d-none d-md-none d-lg-inline ps-2 sub-topic">{{activeFarm}} {{ activeFarm === "All" ? "farms" : "farm"}}</span>
                  <span class="text-end filter">
                    <img src="../../../assets/chevron-down.svg" class="ms-3" width="12" height="12">
                  </span>
                </button>
                <ul mdbDropdownMenu class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" [class.active]="activeFarm === 'All'"
                      (click)="activeFarm = 'All'; refresh()">All</a>
                  </li>
                  <li *ngFor="let farmInfo of farmInfoDropdownList">
                    <a  class="dropdown-item"
                      [class.active]="activeFarm === farmInfo.farm"
                      (click)="activeFarm = farmInfo.farm; refresh()"> <img [src]="farmInfo.farm | url:'icon'" class="farm-logo"> {{farmInfo.farm}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 col-sm-2 col-md-2">
        <div class="card box-left">
          <div class="card-body p-0">
            <div mdbDropdown class="dropdown w-100 text-center" #dropdownSortBy>
              <button mdbDropdownToggle class="btn p-0 h-47" type="button" aria-expanded="false">
                <img class="mobile-icon" src="../../../assets/Icon _ SortBy.svg" width="24" height="24">
                <span class="text-dropdown d-none d-sm-none d-md-none d-lg-inline sub-topic">Sort by</span>
                <span class="text-end filter">
                  <img src="../../../assets/chevron-down.svg" class="ms-3" width="12" height="12">
                </span>
              </button>
              <ul mdbDropdownMenu class="dropdown-menu">
                <li>
                  <a class="dropdown-item" [class.active]="sortBy === 'multiplier'"
                    (click)="sortBy = 'multiplier'; refresh()">Default</a>
                </li>
                <li>
                  <a class="dropdown-item" [class.active]="sortBy === 'apy'"
                    (click)="sortBy = 'apy'; refresh()">APY%</a>
                </li>
                <li>
                  <a class="dropdown-item" [class.active]="sortBy === 'dpr'"
                    (click)="sortBy = 'dpr'; refresh()">DPR%</a>
                </li>
                <li>
                  <a class="dropdown-item" [class.active]="sortBy === 'tvl'"
                    (click)="sortBy = 'tvl'; refresh()">TVL</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

   <!--  TODO:: waiting for announcement flag -->
    <div class="row pt-4">
      <div class="col-12">
        <div class="terra-container m-2">
          nLuna-Psi and nEth-Psi Nexus Vaults are now live on Spectrum Protocol!
          <br>
          Auto-compound and auto-stake your LPs and earn 
        </div>
      </div>
    </div> 

    <div *ngIf="loading" class="d-flex align-items-center justify-content-center pt-3"><span
        class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>&nbsp;Loading...</div>

    <div *ngIf="!loading" class="d-flex justify-content-between pt-3">
      <div class="d-flex justify-content-start align-items-end">
        <div class="d-none d-md-flex">
          <span class="fw-bold text-light"><i class="fas fa-hashtag"></i> {{vaults.length}} {{
            vaults.length > 1 ? "Vaults" :"Vault"}}</span>
        </div>
      </div>
    </div>

    <div class="row pt-2 g-3">
      <ng-container *ngFor="let vault of vaults; trackBy: vaultId">
        <div [ngClass]="{'col-lg-4': isGrid, 'col-12': !isGrid  }">
<!--          [useShortNumber]="!shouldBeGrid"-->
          <app-asset-card [vault]="vault" [isGrid]="isGrid" [useShortNumber]="true"></app-asset-card>
        </div>
      </ng-container>
    </div>
    <div class="row pt-5">
      <app-footer></app-footer>
    </div>
  </div>
</main>
