<main>
  <div class="container py-5">
    <div class="row">
      <div class="col-4">
        <h2><a class="fas fa-angle-left" routerLink="/gov" ></a> Manage Stake</h2>
      </div>
    </div>
    <div class="row pt-3">
      <div class="card spec-form">
        <div class="card-header">
          <ul class="nav nav-tabs nav-fill card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/gov/stake">Stake</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/gov/unstake">Unstake</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <form class="needs-validation" novalidate #form="ngForm">
            <div class="text-end small mt-5 text-muted">
              <span>Balance: {{ (maxAmount + lockedAmount) | number }} SPEC</span>
              <span *ngIf="lockedAmount"> (Locked: {{ lockedAmount | number }} SPEC)</span>
            </div>
            <div class="input-group mb-5">
              <span class="input-group-text igt-fixwidth" id="SPECLabel">SPEC</span>
              <input type="number" class="form-control fix-height-use-with-button" placeholder="0.00" autofocus name="amount" [(ngModel)]="amount"
                [min]="0.000001" [max]="maxAmount" [step]="0.000001" required #amountCtl="ngModel" [pattern]="'^[0-9]+(.[0-9]{0,6})?$'"
                [class.is-invalid]="(form.submitted || amountCtl.touched) && amountCtl.invalid" />
              <button class="btn btn-outline-primary" type="button" (click)="setMax()">
                Max
              </button>
              <div class="invalid-feedback" *ngIf="amount > maxAmount">Amount must be between 0 and {{ maxAmount |
                number }}</div>
              <div class="invalid-feedback" *ngIf="amountCtl.errors?.pattern">Amount must be within 6 decimal points</div>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="!amount">{{ type }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
