<div class="card asset-card hover-shadow">
  <span class="position-absolute" *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10">
    <div class="badge-staked badge-progress badge-staked-vault text-white">Deposited</div>
  </span>
  <span class="position-absolute grid-badge mb-1" *ngIf="info.DISABLED_VAULTS.includes(vault.symbol)">
      <div class="badge-deposit-disabled badge-staked-vault">Deposit Disabled</div>
  </span>
  <div class="card-body">
    <div *ngIf="!isGrid" (click)="openModal()"
      class="row asset-card-info">
      <div class="col-12 col-md-3 text-center">
        <div class="p-2 bulk-name-container">
          <img [src]="vault.symbol | url:'icon'" class="img-fluid rounded-circle mAssetIcon mt-2 float-start">
          <img [src]="'UST' | url:'icon'" class="img-fluid rounded-circle mAssetIcon-sm ust-outline mt-2 float-start">
          <div class="name-detail">
            <h6 class="m-0"> {{vault.symbol}}-{{vault.poolInfo.pairSymbol}} LP</h6>
            <p class="m-0"><span class="badge bg-{{vault.poolInfo.farm}}">Farm: {{vault.poolInfo.farm}}</span></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-3">
            <div class="f-12 fw-bold sub-topic">TVL</div>
            <div class="fs-6 fw-bold">{{vault.pairStat?.tvl || 0 | unit: 6 : '1.0-2' }} UST</div>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="f-12 fw-bold sub-topic">
              <!-- <i class="fas fa-info-circle info-icon"
              mdbTooltip="APY (Annual Percentage Yield) is the rate of return with compound interest in one year."></i> -->
              APY</div>
            <div class="fs-6 fw-bold">
              <span *ngIf="vault.apy > vault.pairStat?.farmApr">
                <span class="text-pairstat text-decoration-line-through">
                  <span class="text-pairstat">{{ vault.pairStat?.poolApr || 0 | percent }}</span>
                </span>&nbsp;
              </span>
              <span class="fw-bold">
                {{vault.apy | percent}}</span>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-2">
            <div class="f-12 fw-bold sub-topic">
              <!-- <i class="fas fa-info-circle info-icon"
              mdbTooltip="Estimated rate of return per day"></i> -->
              Daily</div>
            <div class="fs-6 fw-bold">{{ vault.pairStat?.dpr || 0 | percent }}</div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 text-end">
            <div class="f-12">LP Balance</div>
            <div class="fs-6 fw-bold text-primary">{{ info.rewardInfos[vault.assetToken]?.bond_amount || '0' | unit: 6 : '1.0-5'}}
              <i *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10"
                [mdbTooltip]="info.rewardInfos[vault.assetToken] | rewardInfo" class="fas fa-info-circle info-icon"></i>
              <span *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10" class="small text-muted">
                &nbsp;(${{ info.rewardInfos[vault.assetToken]?.bond_amount || '0' | lpBalance:
                info.poolResponses : vault.assetToken | unit: 6: '1.0-2' }})</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isGrid" (click)="openModal()"
    class="row asset-card-info">
    <div class="col-12  d-flex justify-content-center">
      <div class="pt-2 p-l-0 bulk-name-container">
        <img [src]="vault.symbol | url:'icon'" class="img-fluid rounded-circle mAssetIcon-list-sm float-start">
        <img [src]="'UST' | url:'icon'" class="img-fluid rounded-circle mAssetIcon-list ust-outline float-start">
        <div class="name-detail">
          <h6 class="m-0">{{vault.symbol}}-{{vault.poolInfo.pairSymbol}} LP</h6>
          <p class="m-0"><span class="badge bg-{{vault.poolInfo.farm}}">Farm: {{vault.poolInfo.farm}}</span></p>
        </div>
      </div>
    </div>
    <div>
      <hr>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <div>
              <div class="f-12 fw-bold sub-topic">TVL</div>
            </div>
            <div>
              <div class="fs-6 fw-bold">{{vault.pairStat?.tvl || 0 | unit: 6 : '1.0-2' }} UST</div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <div class="f-12 fw-bold sub-topic">APY</div>
            </div>
            <div>
              <div class="fs-6 fw-bold">
                <span *ngIf="vault.apy > vault.pairStat?.farmApr">
                  <span class="text-pairstat text-decoration-line-through">
                    <span class="text-pairstat">{{ vault.pairStat?.poolApr || 0 | percent }}</span>
                  </span>&nbsp;
                </span>
                <!-- [class.text-pairstat]="vault.apy > vault.pairStat?.farmApr" -->
                <span class="fw-bold">
                  {{vault.apy | percent}}</span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <div class="f-12 fw-bold sub-topic">Daily</div>
            </div>
            <div>
              <div class="fs-6 fw-bold">{{ vault.pairStat?.dpr || 0 | percent }}</div>
            </div>
          </div>
        </div>
        <div class="col-12 text-center p-2">
          <div><h6>LP Balance</h6></div>
          <div class="card card-deposit box-left" style="min-height: 53px;">
            <div class="card-body p-1 min-53" *ngIf="!!info.rewardInfos[vault.assetToken]?.bond_amount">
              <div class="fs-6 fw-bold text-primary">{{ info.rewardInfos[vault.assetToken]?.bond_amount || '0' | unit: 6 : '1.0-5'}}
                <i *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10"
                  [mdbTooltip]="info.rewardInfos[vault.assetToken] | rewardInfo" class="fas fa-info-circle info-icon"></i>
              </div>
              <div class="m-t-05">
                <span class="f-12 text-muted" *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10" class="small text-muted">
                  &nbsp;(${{ info.rewardInfos[vault.assetToken]?.bond_amount || '0' | lpBalance:
                  info.poolResponses : vault.assetToken | unit: 6: '1.0-2' }})</span>
              </div>
            </div>
            <div class="card-body p-1 min-53" *ngIf="!info.rewardInfos[vault.assetToken]?.bond_amount">
              <div class="fs-6 fw-bold p-2">-</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
