@import "src/scss/variables";

.bulk-name-container {
  position: relative;
  .name-detail {
    float: left;
    padding-left: 10px;
    text-align: left;
  }
}

.mAssetIcon {
  width: 40px;
  height: 40px;
  padding: 4px;
  background-color: black;
  position: relative;
  top: -5px;
}

.mAssetIcon-sm {
  width: 30px;
  height: 30px;
  padding: 2px;
  background-color: white;
}

.mAssetIcon-list {
  width: 48px;
  height: 48px;
  padding: 4px;
  background-color: white;
}
.mAssetIcon-list-sm {
  width: 48px;
  height: 48px;
  padding: 2px;
  background-color: black;
  position: inherit;
}

.ust-outline {
  border: 1px solid;
  margin-left: -10px;
}

.token-denom{
  margin-left: -10px;
}

.loading-asset-card {
  background-color: rgba(79, 79, 79, 0.8);
}

.min-53 {
  min-height: 53px;
}

.asset-card-info {
  cursor: pointer;
}

.asset-card-input-container {
  min-width: 500px;
}

.masset-info {
  width: 200px;
}

.animate-up {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.green {
  color: rgb(4, 180, 48);
}

.badge-deposited {
  top: 0;
  left: 0;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.25rem;
}

.badge-disabled {
  top: 0;
  right: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0.2rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.2em);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-0.2em);
  }
}

.fee-remark {
  position: relative;
  transform: translate(15px, 15px);
}

.spinner-small {
  height: 0.75rem;
  width: 0.75rem;
}

::ng-deep {
  .custom-slider .ngx-slider{
    .ngx-slider-bar {
      background: $white;
      height: 10px;
    }
    .ngx-slider-pointer {
      width: 32px;
      height: 32px;
      top: auto;
      bottom: -16px;
      background-color: $primary;
      &:focus{
        outline-style: none !important;
        outline-width: 0 !important;
      }
      &:after{
        display: none;
      }
    }
    .ngx-slider-bubble {
      display: none;

    }
  }
}

.desc-slider{
  font-size: 0.8em;
}

.input-compound-stake{
  width: 3em !important;
  padding-left: unset !important;
  padding-right: unset !important;
  text-align: center !important;
}

.input-compound-stake-percent{
  padding-left: 0.4em;
  padding-top: 0.4rem;
}

.slider-compound-stake{
  margin-top: -1.2em;
}

.btn-first {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 0px;
}

.input-group-text-denom{
  border-width: 1px !important;
}

.badge-deposit-disabled {
  height: fit-content;
  width: 70px;
  background: $text-error;
  position: relative;
  border-top-right-radius: 0.3rem;
  font-size: 11px;
  padding-left: 23px;
  width: 125px;
  &::before {
      border-right: 15px solid $text-error;
  }
}

.badge-deposit-disabled:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 17px solid $main-bg;
  border-right: 15px solid $text-error;
  width: 0;
}

.grid-badge {
  right: 0;
}

@media screen and (max-width: 1199px) {
  .grid-container {
    .mAssetIcon-list-sm {
      margin-left: 10px;
    }
    .name-detail {
      padding-left: 16px;
      padding-top: 5px;
    }
  }
}