<div class="card asset-card hover-shadow" [ngClass]="{'min-asset-card': isGrid}">
  <span class="position-absolute" *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10">
    <div class="badge-disabled text-white">Deposited</div>
  </span>
  <span class="position-absolute grid-badge mb-1" *ngIf="info.DISABLED_VAULTS.includes(vault.symbol)">
      <div class="badge-deposit-disabled">Deposit Disabled</div>
  </span>
  <div class="card-body pt-15">
    <div *ngIf="!isGrid" (click)="openModal()"
      class="row asset-card-info">
      <div class="col-12 col-md-3 text-center no-padding">
        <div class="p-2 bulk-name-container" *ngIf="vault.poolInfo.farmType === 'LP'">
          <img [src]="vault.symbol | url:'icon'" class="img-fluid rounded-circle assetIcon mt-2 float-start">
          <img [src]="vault.poolInfo.pairSymbol | url:'icon'" class="img-fluid rounded-circle assetIcon mt-2 float-start token-denom">
          <div class="name-detail">
            <h6 class="m-0"> {{vault.symbol}}-{{vault.poolInfo.pairSymbol}} LP</h6>
            <p class="m-0"><span class="badge bg-{{vault.poolInfo.farm}}">Farm: {{vault.poolInfo.farm}}</span></p>
          </div>
        </div>
        <div class="p-2 bulk-name-container" *ngIf="vault.poolInfo.farmType === 'PYLON_LIQUID'">
          <img [src]="vault.poolInfo.pairSymbol | url:'icon'" class="img-fluid rounded-circle assetIcon mt-2 float-start">
          <div class="name-detail">
            <h6 class="m-0">{{vault.poolInfo.pairSymbol}}</h6>
            <p class="m-0"><span class="badge bg-{{vault.poolInfo.farm}}">Farm: {{vault.poolInfo.farm}}</span></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <div class="row">
          <div class="col-12 col-sm-4 mt-1">
            <div class="f-12 sub-topic">TVL</div>
            <div class="fs-6 fw-bold">{{+vault.pairStat?.tvl / UNIT || 0 | shortNum }} UST</div>
          </div>
          <div class="col-12 col-sm-3 mt-1">
            <div class="f-12 sub-topic">
              <!-- <i class="fas fa-info-circle info-icon"
              mdbTooltip="APY (Annual Percentage Yield) is the rate of return with compound interest in one year."></i> -->
              APY</div>
            <div class="f-14">
              <span *ngIf="vault.apy > vault.pairStat?.poolApr">
                <span class="sub-topic text-decoration-line-through text-primary">
                  <span class="sub-topic">{{ vault.pairStat?.poolApr || 0 | percent }}</span>
                </span>
              </span>
              <span class="fs-6 fw-bold text-primary"> {{vault.apy | percent}}</span>
            </div>
          </div>
          <div class="col-12 col-sm-2 mt-1">
            <div class="f-12 sub-topic">
              <!-- <i class="fas fa-info-circle info-icon"
              mdbTooltip="Estimated rate of return per day"></i> -->
              Daily</div>
            <div class="fs-6 fw-bold">{{ vault.pairStat?.dpr || 0 | percent }}</div>
          </div>
          <div class="col-12 col-sm-3 mt-1 text-end"  *ngIf="vault.poolInfo.farmType === 'LP'">
            <div class="f-12">LP Balance</div>
            <div class="f-14-600 text-primary" *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10">
              {{ info.rewardInfos[vault.assetToken]?.bond_amount || '0' | unit: 6 : '1.0-5'}}
              <!-- <i *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10"
                [mdbTooltip]="info.rewardInfos[vault.assetToken] | rewardInfo" class="fas fa-info-circle info-icon"></i> -->
              <span class="small text-muted">
                (${{ info.rewardInfos[vault.assetToken]?.bond_amount || '0' | lpBalance:
                info.poolResponses : vault.assetToken | unit: 6: '1.0-2' }})</span>
            </div>
            <div *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount < 10">
              <div class="f-14">-</div>
            </div>
          </div>
          <div class="col-12 col-sm-3 mt-1 text-end" *ngIf="vault.poolInfo.farmType === 'PYLON_LIQUID'">
            <div class="f-12">Balance</div>
<!--            TODO-->
            <div class="f-14 text-primary" *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10">
              {{ info.rewardInfos[vault.assetToken]?.bond_amount || '0' | unit: 6 : '1.0-5'}}
              <span class="small text-muted">
                (${{ info.rewardInfos[vault.assetToken]?.bond_amount || '0' | lpBalance:
                info.poolResponses : vault.assetToken | unit: 6: '1.0-2' }})</span>
            </div>
            <div *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount < 10">
              <div class="f-14">-</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isGrid" (click)="openModal()"
    class="row asset-card-info grid-container pt-3">
    <div class="col-12 d-flex justify-content-center no-padding">
      <div class="pt-2 p-l-0 bulk-name-container" *ngIf="vault.poolInfo.farmType === 'LP'">
        <img [src]="vault.symbol | url:'icon'" class="img-fluid rounded-circle assetIcon float-start">
        <img [src]="vault.poolInfo.pairSymbol | url:'icon'" class="img-fluid rounded-circle assetIcon float-start token-denom">
        <div class="name-detail">
          <h6 class="m-0">{{vault.symbol}}-{{vault.poolInfo.pairSymbol}} LP</h6>
          <p class="m-0"><span class="badge bg-{{vault.poolInfo.farm}}">Farm: {{vault.poolInfo.farm}}</span></p>
        </div>
      </div>
      <div class="pt-2 p-l-0 bulk-name-container" *ngIf="vault.poolInfo.farmType === 'PYLON_LIQUID'">
        <img [src]="vault.poolInfo.pairSymbol | url:'icon'" class="img-fluid rounded-circle assetIcon float-start">
        <div class="name-detail">
          <h6 class="m-0">{{vault.poolInfo.pairSymbol}}</h6>
          <p class="m-0"><span class="badge bg-{{vault.poolInfo.farm}}">Farm: {{vault.poolInfo.farm}}</span></p>
        </div>
      </div>
    </div>
    <div>
      <div class="dot-line"></div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <div>
              <div class="f-12 sub-topic">TVL</div>
            </div>
            <div>
              <div class="f-14 fw-bold">{{+vault.pairStat?.tvl / UNIT || 0 | shortNum }} UST</div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <div class="f-12 sub-topic">APY</div>
            </div>
            <div>
              <div class="f-14 fw-bold">
                <span *ngIf="vault.apy > vault.pairStat?.poolApr">
                  <span class="sub-topic text-decoration-line-through text-primary">
                    <span class="sub-topic">{{vault.pairStat?.poolApr || 0 | percent}}</span>
                  </span>
                </span>
                <!-- [class.sub-topic]="vault.apy > vault.pairStat?.farmApr" -->
                <span class="text-primary"> {{vault.apy | percent}}</span>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <div class="f-12 sub-topic">Daily</div>
            </div>
            <div>
              <div class="f-14 fw-bold">{{vault.pairStat?.dpr || 0 | percent}}</div>
            </div>
          </div>
        </div>
        <div class="col-12 text-center p-2">
          <div class="card card-deposit card-grey box-left height-53">
            <div class="card-body p-2">
              <div class="d-flex justify-content-between" *ngIf="vault.poolInfo.farmType === 'LP'">
                <div>
                  <div class="f-12 sub-topic">LP Balance</div>
                </div>
                <div>
                  <!-- <i *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10"
                    [mdbTooltip]="info.rewardInfos[vault.assetToken] | rewardInfo" class="fas fa-info-circle info-icon"></i> -->
                    <div class="f-14-600 text-primary" *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10">{{ info.rewardInfos[vault.assetToken]?.bond_amount || '0' | unit: 6 : '1.0-5'}}
                      <span class="f-12 text-muted small" *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10">
                      (${{ info.rewardInfos[vault.assetToken]?.bond_amount || '0' | lpBalance:
                      info.poolResponses : vault.assetToken | unit: 6: '1.0-2' }})</span></div>
                    <div *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount < 10">
                      <div class="f-14">-</div>
                    </div>
                </div>
              </div>
              <div class="d-flex justify-content-between" *ngIf="vault.poolInfo.farmType === 'PYLON_LIQUID'">
                <div>
                  <div class="f-12 sub-topic">Balance</div>
                </div>
                <div>
                  <!-- <i *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10"
                    [mdbTooltip]="info.rewardInfos[vault.assetToken] | rewardInfo" class="fas fa-info-circle info-icon"></i> -->
                  <div class="f-14-600 text-primary" *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10">{{ info.rewardInfos[vault.assetToken]?.bond_amount || '0' | unit: 6 : '1.0-5'}}
                    <span class="f-12 text-muted small" *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10">
                      (${{ info.rewardInfos[vault.assetToken]?.bond_amount || '0' | lpBalance:
                      info.poolResponses : vault.assetToken | unit: 6: '1.0-2' }})</span></div>
                  <div *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount < 10">
                    <div class="f-14">-</div>
                  </div>
                </div>
              </div>
              <!-- <div class="d-flex justify-content-between" *ngIf="vault.poolInfo.farm === 'Spectrum' && !!info.rewardInfos[vault.assetToken]?.pending_spec_reward">
                <div>
                  <div class="f-12 sub-topic">Staked SPEC</div>
                </div>
                <div>
                  <div class="f-14-600 text-primary">  {{info.rewardInfos[vault.assetToken]?.pending_spec_reward || 0 | unit }}
                    <span class="f-12 text-white small">
                    &nbsp;  (${{ info.rewardInfos[vault.assetToken]?.pending_spec_reward || '0' | unit: 6 : '1.0-2' }})</span></div>
                </div>
              </div>
              <div class="d-flex justify-content-between" *ngIf="vault.poolInfo.farm !== 'Spectrum' && vault.poolInfo.auto_stake && !!info.rewardInfos[vault.assetToken]?.pending_farm_reward">
                <div>
                  <div class="f-12 sub-topic">Staked {{ vault.poolInfo.token_symbol }}</div>
                </div>
                <div>
                  <div class="f-14-600 text-primary"> {{info.rewardInfos[vault.assetToken]?.pending_farm_reward || 0 | unit : vault.decimals }}
                    <span class="f-12 text-white small">
                    &nbsp;  (${{ info.rewardInfos[vault.assetToken]?.pending_farm_reward || '0' | unit: vault.decimals : '1.0-2' }})</span></div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
