<div class="card asset-card col-12 hover-shadow"
  [ngClass]="{'border border-primary' : +info.rewardInfos[vault.assetToken]?.bond_amount >= 10}">
  <div class="card-body">
    <span *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10"
      class="badge bg-primary position-absolute badge-deposited">Deposited</span>
<!--    TODO update logic to include LP, UST or remove depositable, or change wording to sth like Have Token/LP Depositable -->
    <span *ngIf="+info.tokenBalances[vault.assetToken] >= 10"
      class="badge bg-info position-absolute badge-depositable">Depositable</span>
    <div class="row asset-card-info" (click)="belowSection.toggle()" aria-expanded="false" aria-controls="belowSection">
      <div class="col-12 col-md-3 text-center">
        <div class="p-2">
          <img [src]="vault.symbol | url:'icon'" class="img-fluid rounded-circle mAssetIcon">
          <img [src]="'UST' | url:'icon'" class="img-fluid rounded-circle mAssetIcon ust-outline">
        </div>
        <div class="fs-5">
          {{vault.symbol}}-UST LP
        </div>
        <div class="fs-6">
          Farm: <span class="badge bg-{{vault.poolInfo.farm}}">{{vault.poolInfo.farm}}</span>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-4">
            <div class="fs-6 mt-2">APY</div>
            <div class="fs-5">
              <span *ngIf="vault.apy > vault.pairStat?.farmApr">
                <span class="text-primary text-decoration-line-through">
                  <span class="text-muted">{{ vault.pairStat?.poolApr || 0 | percent }}</span>
                </span>&nbsp;
              </span>
              <span class="fw-bold" [class.text-primary]="vault.apy > vault.pairStat?.farmApr">
                {{vault.apy | percent}}</span>
            </div>
            <div class="fs-6 mt-2">TVL</div>
            <div class="fs-5">{{vault.pairStat?.tvl || 0 | unit: '1.0-2' }} UST</div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="fs-6 mt-2">{{ vault.symbol }} Balance</div>
            <div class="fs-5">{{info.tokenBalances[vault.assetToken] || '0' | unit: '1.0-2' }}
              <span class="small text-muted" *ngIf="+info.tokenBalances[vault.assetToken] >= 10">
                &nbsp;(${{ info.tokenBalances[vault.assetToken] || '0' | balance: info.poolResponses[vault.assetToken] |
                unit: '1.0-2' }})</span>
            </div>
            <div class="fs-6 mt-2">LP Deposited</div>
            <div class="fs-5">{{ info.rewardInfos[vault.assetToken]?.bond_amount || '0' | unit: '1.0-5'}}
              <i class="fas fa-info-circle info-icon" [mdbTooltip]="info.rewardInfos[vault.assetToken] | rewardInfo"
                *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10"></i>
              <span class="small text-muted" *ngIf="+info.rewardInfos[vault.assetToken]?.bond_amount >= 10">
                &nbsp;(${{ info.rewardInfos[vault.assetToken]?.bond_amount || '0' | lpBalance:
                info.poolResponses[vault.assetToken] |
                unit: '1.0-2' }})</span>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="fs-6 mt-2">Staked SPEC</div>
            <div class="fs-5"><span *ngIf="+info.rewardInfos[vault.assetToken]?.pending_spec_reward >= 10"
                class="fas fa-chevron-up animate-up text-success"></span>
              {{info.rewardInfos[vault.assetToken]?.pending_spec_reward || 0 | unit: '1.0-2'}}
              <span class="small text-muted" *ngIf="+info.rewardInfos[vault.assetToken]?.pending_spec_reward >= 10">
                &nbsp;(${{ info.rewardInfos[vault.assetToken]?.pending_spec_reward || '0' | balance:
                info.poolResponses[terrajs.settings.specToken] |
                unit: '1.0-2' }})</span>
            </div>
            <div *ngIf="vault.poolInfo.farm !== 'Spectrum'">
              <div class="fs-6 mt-2">
                Staked <span *ngIf="vault.poolInfo.farm === 'Mirror'">MIR <i class="fas fa-info-circle info-icon"
                    mdbTooltip="MIR will be earned from auto-stake strategy. If you select auto-compound, LP will be earned."></i></span>
                <span *ngIf="vault.poolInfo.farm !== 'Mirror'">{{vault.symbol}} <i class="fas fa-info-circle info-icon"
                    mdbTooltip="{{vault.symbol}} will be earned from auto-stake strategy. If you select auto-compound, LP will be earned."></i></span>
              </div>
              <div class="fs-5">{{info.rewardInfos[vault.assetToken]?.pending_farm_reward || 0 | unit: '1.0-2'}}
                <span class="small text-muted" *ngIf="+info.rewardInfos[vault.assetToken]?.pending_farm_reward">
                  &nbsp;(${{ info.rewardInfos[vault.assetToken]?.pending_farm_reward || '0' | balance:
                  info.poolResponses[vault.poolInfo.farmTokenContract] |
                  unit: '1.0-2' }})</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3 bg-dark p-3 spec-form" mdbCollapse #belowSection="mdbCollapse">
      <mdb-tabs [fill]="true">
        <mdb-tab title="Deposit">
<!--          TODO figure out pt-3, pl-3-->
          <span class="btn-group p-3">
            <button type="button" class="btn"
                    [ngClass]="depositMode === 'tokenust' ? 'btn-primary': 'btn-outline-primary'"
                    (click)="depositMode = 'tokenust'">Token + UST</button>
            <button type="button" class="btn"
                    [ngClass]="depositMode === 'lp' ? 'btn-primary': 'btn-outline-primary'"
                    (click)="depositMode = 'lp'">LP</button>
            <button type="button" class="btn"
                    [ngClass]="depositMode === 'ust' ? 'btn-primary': 'btn-outline-primary'"
                    (click)="depositMode = 'ust'">UST</button>
          </span>
          <form class="needs-validation p-3" novalidate #formDeposit="ngForm">
          <div [hidden]="depositMode !== 'tokenust'">
              <div [hidden]="depositMode !== 'tokenust'">
                <div class="small">
                  Need more {{ vault.symbol }}? <a [href]="vault.symbol | url:'trade'" target="_blank">Buy</a><span
                  *ngIf="vault.symbol.startsWith('m')">
                or <a [href]="vault.symbol | url:'mint'" target="_blank">Borrow</a></span> {{ vault.symbol }} to farm
                  with
                </div>
                <div class="text-end small mt-3 text-muted">
                  <span>Balance: {{ info.tokenBalances[vault.assetToken] | unit }} {{ vault.symbol }}</span>
                </div>
                <div class="input-group">
                  <span class="input-group-text">{{ vault.symbol }}</span>
                  <input type="number" class="form-control fix-height-use-with-button" name="depositTokenAmtTokenUSTCtl"
                         [(ngModel)]="depositTokenAmtTokenUST" [min]="0.000001" [max]="+info.tokenBalances[vault.assetToken] / UNIT"
                         [step]="0.000001" required #depositTokenAmtTokenUSTCtl="ngModel" [pattern]="'^[0-9]+(.[0-9]{0,6})?$'"
                         [class.is-invalid]="(formDeposit.submitted || depositTokenAmtTokenUSTCtl.touched) && depositTokenAmtTokenUSTCtl.invalid"
                         (ngModelChange)="depositChanged()" />
                  <button class="btn btn-outline-primary last" type="button" (click)="setMaxDepositUSTToken()">
                    Max
                  </button>
                </div>
                <span class="invalid-feedback-custom" *ngIf="depositTokenAmtTokenUST > +info.tokenBalances[vault.assetToken] / UNIT">
              Amount must be between 0 and {{info.tokenBalances[vault.assetToken] | unit }}
            </span>
                <span class="invalid-feedback-custom" *ngIf="depositTokenAmtTokenUSTCtl.errors?.pattern">
              Amount must be within 6 decimal points
            </span>
                <div class="mt-3 icon-between-inputs"><i class="fas fa-plus fa-lg"></i></div>
                <div class="text-end small mt-1 text-muted">
                  <span>Balance: {{ info.userUstAmount | number }} UST</span>
                </div>
                <div class="input-group">
                  <span class="input-group-text igt-fixwidth">UST</span>
                  <input type="number" class="form-control" [(ngModel)]="depositUSTAmountTokenUST" name="depositUSTAmountTokenUST"
                         aria-describedby="USTLabel" #inputUst [min]="0.000001" [max]="+info.userUstAmount" [step]="0.000001"
                         required #depositAmountUSTTokenUSTCtl="ngModel" [disabled]="true"
                         [class.is-invalid]="(formDeposit.submitted || depositAmountUSTTokenUSTCtl.touched) && depositAmountUSTTokenUSTCtl.invalid" />
                </div>
              </div>
          </div>
              <div [hidden]="depositMode !== 'lp'">
                  <div class="small">
                    Already have LP token? Deposit here, or
                    <a href="https://app.terraswap.io/#Provide" target="_blank">provide/withdraw LP</a>
                  </div>
                  <div class="text-end small mt-3 text-muted">
                    <span>Balance: {{+info.lpTokenBalances[vault.lpToken] | unit}} {{ vault.symbol }}-UST LP</span>
                  </div>
                  <div class="input-group">
                    <span class="input-group-text">{{ vault.symbol }}-UST LP</span>
                    <input type="number" class="form-control fix-height-use-with-button" name="depositLPAmtLP"
                           [(ngModel)]="depositLPAmtLP" [min]="0.000001" [max]="+info.lpTokenBalances[vault.lpToken] / UNIT"
                           [step]="0.000001" required #depositLPAmtLPCtl="ngModel" [pattern]="'^[0-9]+(.[0-9]{0,6})?$'"
                           [class.is-invalid]="(formDeposit.submitted || depositLPAmtLPCtl.touched) && depositLPAmtLPCtl.invalid"
                           (ngModelChange)="depositLPChanged()" />
                    <button class="btn btn-outline-primary last" type="button" (click)="setMaxDepositLP()">
                      Max
                    </button>
                  </div>
                  <div class="mt-3 pool-info" *ngIf="depositLPAmtLP" @fade>
                    <div *ngIf="depositFeeLp !== '0'" class="row">
                      <div class="col">Deposit Fee (&lt;0.1%)</div>
                      <div *ngIf="+depositFeeLp > 0" class="col text-end">{{depositFeeLp | number }} LP</div>
                      <div *ngIf="!(+depositFeeLp > 0)" class="col text-end">
                        <div class="spinner-grow spinner-small" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">Net LP</div>
                      <div *ngIf="+netLpLp > 0" class="col text-end">{{netLpLp | number }} LP</div>
                      <div *ngIf="!(+netLpLp > 0)" class="col text-end">
                        <div class="spinner-grow spinner-small" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

              <div class="mt-3 pool-info" *ngIf="depositUSTAmountTokenUST" @fade>
              <div class="row">
                <div class="col">Terraswap Price</div>
                <div class="col text-end">{{info.poolResponses[vault.assetToken] | price | number }} UST</div>
              </div>
              <div class="row">
                <div class="col">Gross LP</div>
                <div *ngIf="+grossLpTokenUST > 0" class="col text-end">{{grossLpTokenUST | number }} LP</div>
                <div *ngIf="!(+grossLpTokenUST > 0)" class="col text-end">
                  <div class="spinner-grow spinner-small" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
              <div *ngIf="depositFeeTokenUST !== '0'" class="row">
                <div class="col">Deposit Fee (&lt;0.1%)</div>
                <div *ngIf="+depositFeeTokenUST > 0" class="col text-end">{{depositFeeTokenUST | number }} LP</div>
                <div *ngIf="!(+depositFeeTokenUST > 0)" class="col text-end">
                  <div class="spinner-grow spinner-small" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">Net LP</div>
                <div *ngIf="+netLpTokenUST > 0" class="col text-end">{{netLpTokenUST | number }} LP</div>
                <div *ngIf="!(+netLpTokenUST > 0)" class="col text-end">
                  <div class="spinner-grow spinner-small" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
<!--              TODO common start-->
            <div class="mt-3" *ngIf="vault.poolInfo.auto_compound">
              <span class="btn-group">
                <button type="button" class="btn"
                  [ngClass]="depositType === 'stake' ? 'btn-primary': 'btn-outline-primary'"
                  (click)="depositType = 'stake'">Auto Stake</button>
                <button type="button" class="btn"
                  [ngClass]="depositType === 'compound' ? 'btn-primary': 'btn-outline-primary'"
                  (click)="depositType = 'compound'">Auto Compound</button>
                <button type="button" class="btn"
                  [ngClass]="depositType === 'mixed' ? 'btn-primary': 'btn-outline-primary'"
                  (click)="depositType = 'mixed'">Mixed</button>
              </span>
              <div class="invalid-feedback-custom" *ngIf="!depositType && formDeposit.submitted">
                Please select auto-farm mode
              </div>
              <div class="mt-3">
                <span class="side-note" *ngIf="depositType === 'compound'">With auto compound, your reward will be
                  automatically sold and provided to pool to earn even more reward.</span>
                <span class="side-note" *ngIf="depositType === 'stake'">With auto stake, your reward will be
                  automatically staked to gov to earn from gov income.</span>
                <span class="side-note" *ngIf="depositType === 'mixed'">With mixed auto compound and auto stake, your reward will be
                  automatically sold and provided to pool to earn even more reward, and staked to gov to earn from gov income.</span>
              </div>
            </div>
            <div class="mt-3" *ngIf="depositType || !vault.poolInfo.auto_compound" @fade>
              <div *ngIf="depositType === 'compound'">
                <div class="row">
                  <div class="col">Pool APR from {{ vault.poolInfo.farm }}</div>
                  <div class="col text-end">{{vault.pairStat?.poolApr || 0 | percent }}</div>
                </div>
                <div class="row">
                  <div class="col">Pool APY from auto compound</div>
                  <div class="col text-end">{{vault.pairStat?.poolApy || 0 | percent }}</div>
                </div>
                <div class="row">
                  <div class="col">SPEC Reward</div>
                  <div class="col text-end">{{vault.specApy | percent }}</div>
                </div>
                <div class="row">
                  <div class="col">Total APY</div>
                  <div class="col text-end">{{vault.compoundApy | percent }}</div>
                </div>
              </div>

              <div *ngIf="depositType === 'stake' || !vault.poolInfo.auto_compound">
                <div class="row">
                  <div class="col">Pool APR from {{ vault.poolInfo.farm }}</div>
                  <div class="col text-end">{{vault.pairStat?.poolApr || 0 | percent }}</div>
                </div>
                <div class="row">
                  <div class="col">Pool APY from auto stake</div>
                  <div class="col text-end">{{vault.farmApy | percent }}</div>
                </div>
                <div class="row">
                  <div class="col">SPEC Reward</div>
                  <div class="col text-end">{{vault.specApy | percent }}</div>
                </div>
                <div class="row">
                  <div class="col">Total APY</div>
                  <div class="col text-end">{{vault.stakeApy | percent }}</div>
                </div>
              </div>

              <div *ngIf="depositType === 'mixed' && vault.poolInfo.auto_compound">
                <div class="d-flex flex-row justify-content-between">
                  <div class="d-flex">
                    <div class="input-group">
                      <input type="number" name="autoStakePercent" class="form-control input-compound-stake" [value]="100-auto_compound_percent" (change)="inputAutoCompoundPercent($event, true)">
                    </div>
                    <span class="input-compound-stake-percent">%</span>
                  </div>
                  <div class="slider-compound-stake flex-grow-1 custom-slider">
                    <ngx-slider [(value)]="auto_compound_percent" [options]="ngx_slider_option"></ngx-slider>
                  </div>
                  <div class="d-flex">
                    <div class="input-group">
                      <input type="number" name="autoCompoundPercent" class="form-control input-compound-stake" [value]="auto_compound_percent"  (change)="inputAutoCompoundPercent($event, false)">
                    </div>
                    <span class="input-compound-stake-percent">%</span>
                  </div>
                </div>
                <div class="d-flex flex-row mb-2">
                  <span class="desc-slider margin-right-auto">Auto Stake</span>
                  <span class="desc-slider">Auto Compound</span>
                </div>
                <div class="row">
                  <div class="col">Pool APR from {{ vault.poolInfo.farm }}</div>
                  <div class="col text-end">{{vault.pairStat?.poolApr || 0 | percent }}</div>
                </div>
                <div class="row" *ngIf="auto_compound_percent > 0">
                  <div class="col">Pool APY from auto compound</div>
                  <div class="col text-end">{{getMixedAutoCompoundAPY() || 0 | percent }}</div>
                </div>
                <div class="row" *ngIf="100 - auto_compound_percent > 0">
                  <div class="col">Pool APY from auto stake</div>
                  <div class="col text-end">{{getMixedAutoStakeAPY() | percent }}</div>
                </div>
                <div class="row">
                  <div class="col">SPEC Reward</div>
                  <div class="col text-end">{{vault.specApy | percent }}</div>
                </div>
                <div class="row">
                  <div class="col">Total APY</div>
                  <div class="col text-end">{{getMixedTotalAPY() | percent }}</div>
                </div>
              </div>

            </div>
            <div class="d-grid mt-3">
              <div class="card-text small text-warning mb-1"
                *ngIf="depositType === 'stake' && vault.poolInfo.farm !== 'Spectrum'">
                <i class="fas fa-exclamation-triangle"></i> With auto stake, earned {{vault.poolInfo.token_symbol}} will
                be staked to earn only Gov APR not Airdrop rewards or
                other staking incentives. Please unstake your {{vault.poolInfo.token_symbol}} and stake directly to
                {{vault.poolInfo.farm}} Gov
                under your address to earn the benefits.
              </div>
              <button type="submit" class="btn btn-primary" (click)="doDeposit()"
                [disabled]="depositTokenAmtTokenUSTCtl.invalid">Deposit</button>
              <div class="text-end small fee-remark text-muted" *ngIf="vault.poolInfo.farm !== 'Spectrum'">
                <a href="https://spectrum-protocol.gitbook.io/spectrum-protocol/protocol/fees" target="_blank">
                  * fees applied
                </a>
              </div>
            </div>
<!--              TODO common stop-->
          </form>


        </mdb-tab>
        <mdb-tab title="Withdraw">
          <form class="needs-validation p-3" novalidate #formWithdraw="ngForm">
            <div class="text-end small mt-3 text-muted">
              <span>Deposited: {{ info.rewardInfos[vault.assetToken]?.bond_amount || 0 | unit }} {{
                vault.symbol }}-UST LP</span>
            </div>
            <div class="input-group">
              <span class="input-group-text">{{ vault.symbol }}-UST LP</span>
              <input type="number" class="form-control fix-height-use-with-button" name="withdrawAmtCtl"
                [(ngModel)]="withdrawAmt" [min]="0.000001"
                [max]="+info.rewardInfos[vault.assetToken]?.bond_amount / UNIT" [step]="0.000001" required
                #withdrawAmtCtl="ngModel" [pattern]="'^[0-9]+(.[0-9]{0,6})?$'"
                [class.is-invalid]="(formWithdraw.submitted || withdrawAmtCtl.touched) && withdrawAmtCtl.invalid" />
              <button class="btn btn-outline-primary last" type="button" (click)="setMaxWithdrawLP()">
                Max
              </button>
            </div>
            <span class="invalid-feedback-custom"
              *ngIf="withdrawAmt > +info.rewardInfos[vault.assetToken]?.bond_amount / UNIT">Amount
              must
              be between 0 and {{info.rewardInfos[vault.assetToken]?.bond_amount | unit }}
            </span>
            <span class="invalid-feedback-custom" *ngIf="depositTokenAmtTokenUSTCtl.errors?.pattern">
              Amount must be within 6 decimal points
            </span>
            <div *ngIf="withdrawAmt" class="mt-3">
              <div>
                Receive
              </div>
              <div>
                {{ withdrawAmt | lpSplit: info.poolResponses[vault.assetToken]: vault.symbol }}
              </div>
            </div>
            <div class="d-grid mt-3">
              <button type="submit" class="btn btn-primary" (click)="doWithdraw()"
                [disabled]="withdrawAmtCtl.invalid">Withdraw</button>
            </div>
          </form>
        </mdb-tab>
        <mdb-tab title="Unstake gov tokens">
          <div class="small mt-6">
            All your rewards are automatically staked in gov vaults to earn gov income.
          </div>
          <div class="row mt-3">
            <div class="col">Staked SPEC</div>
            <div class="col text-end">
              {{info.rewardInfos[vault.assetToken]?.pending_spec_reward || 0 | unit }}</div>
          </div>
          <div class="row" *ngIf="vault.poolInfo.farm !== 'Spectrum'">
            <div class="col">Staked <span *ngIf="vault.poolInfo.farm === 'Mirror'">MIR</span>
              <span *ngIf="vault.poolInfo.farm !== 'Mirror'">{{vault.symbol}}</span>
            </div>
            <div class="col text-end">
              {{info.rewardInfos[vault.assetToken]?.pending_farm_reward || 0 | unit }}</div>
          </div>
          <div class="d-grid mt-3" *ngIf="vault.poolInfo.farm === 'Spectrum'">
            <button type="submit" class="btn btn-primary" (click)="doClaimReward()">Unstake SPEC</button>
          </div>
          <div class="d-grid mt-3" *ngIf="vault.poolInfo.farm === 'Mirror'">
            <button type="submit" class="btn btn-primary" (click)="doClaimReward()">Unstake MIR + SPEC</button>
            <button type="submit" class="btn btn-secondary mt-2" (click)="doClaimReward(true)">Unstake MIR + SPEC
              from ALL Mirror vaults</button>
          </div>
          <div class="d-grid mt-3" *ngIf="vault.poolInfo.farm !== 'Mirror' && vault.poolInfo.farm !== 'Spectrum'">
            <button type="submit" class="btn btn-primary" (click)="doClaimReward()">Unstake {{vault.symbol}} +
              SPEC</button>
          </div>
        </mdb-tab>
      </mdb-tabs>
    </div>
  </div>
</div>
