<main>
  <div class="container py-5">
    <div class="row detail-header">
      <div class="col-3 col-md-1">
        <a class="ms-3 text-reset fs-5" routerLink="/gov">
          <img src="/assets/Icon_Back.svg">
        </a>
      </div>
      <div class="col-9 col-md-11">
        <h4 class="lh-base">Poll details</h4>
      </div>
    </div>
    <div *ngIf="!(poll && staked && config)" class="d-flex align-items-center justify-content-center pt-3">
      <span aria-hidden="true" class="spinner-grow spinner-grow-sm" role="status"></span>&nbsp;Loading...
    </div>
    <div *ngIf="poll && staked && config">
      <div class="row pt-3">
        <app-poll-item [config]="config" [poll]="poll" [staked]="staked"></app-poll-item>
      </div>
      <div class="row pt-3">
        <div class="col-12">
          <div class="card py-3">
            <div class="card-body">
              <div class="row gy-3">
                <div class="col-12">
                  <h6 class="card-subtitle">Creator</h6>
                  <a href="https://{{terrajs.settings.finder}}/{{terrajs.networkName}}/account/{{poll.creator}}"
                    target="_blank">{{ poll.creator }}</a>
                </div>
                <div class="col-12">
                  <h6 class="card-subtitle">Description</h6>
                  <pre>{{ poll.description }}</pre>
                </div>
                <div *ngIf="poll.link" class="col-12">
                  <h6 class="card-subtitle">Link</h6>
                  <a [href]="poll.link" target="_blank">{{ poll.link }}</a>
                </div>
                <div *ngFor="let item of poll.execute_msgs || []; let i = index" class="col-12">
                  <h6 class="card-subtitle">Execution message {{i + 1}}</h6>
                  <span>Contract Address: </span><a
                  href="https://{{terrajs.settings.finder}}/{{terrajs.networkName}}/address/{{item.execute.contract}}"
                  target="_blank">{{ item.execute.contract }}</a>
                  <pre [innerHtml]="item.execute.msg | jsonParse | prettyjson:2" class="json"></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="canVote" class="row pt-3">
        <div class="card spec-form">
          <div class="card-header mt-1 fw-bold">
            Vote
          </div>
          <div class="card-body vote-container">
            <form #form="ngForm" class="needs-validation" novalidate>
              <div class="text-end small mt-5 text-muted fw-bold">
                <span>Balance: {{ maxAmount | number }} SPEC</span>
              </div>
              <div class="input-group mb-5">
                <input #amountCtl="ngModel" [(ngModel)]="amount"
                      [class.is-invalid]="(form.submitted || amountCtl.touched) && amountCtl.invalid" [max]="maxAmount"
                      [min]="0.000001" [pattern]="'^[0-9]+(.[0-9]{0,6})?$'" [step]="0.000001"
                      class="form-control fix-border-grey" name="amount"
                      placeholder="0.00" required
                      type="number"/>
                <button (click)="setMax()" class="btn btn-max" type="button">
                  Max
                </button>
                <div *ngIf="amount > maxAmount" class="invalid-feedback">
                  Amount must be between 0 and {{ maxAmount | number }}
                </div>
                <div *ngIf="amountCtl.errors?.pattern" class="invalid-feedback">
                  Amount must be within 6 decimal points
                </div>
              </div>
              <div class="card-text small text-warning">
                <i class="fas fa-exclamation-triangle"></i> Vote cannot be changed after submission.
                Staked SPEC used to vote in polls are locked and cannot be withdrawn until the poll
                finishes.
              </div>
              <div class="row gx-2">
                <div class="d-grid col-6">
                  <button (click)="vote('yes')" [disabled]="!amount" class="btn btn-success"
                          type="submit">YES
                  </button>
                </div>
                <div class="d-grid col-6">
                  <button (click)="vote('no')" [disabled]="!amount" class="btn btn-danger"
                          type="submit">NO
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="yourVote" class="row pt-3">
        <div class="card spec-form">
          <div class="card-header mt-1 fw-bold">
            Voted
          </div>
          <div class="card-body">
            <div *ngIf="voteOption === 'yes'" class="card-title text-success">
              YES: {{ yourVote / staked | percent }} ({{ yourVote | unit }} SPEC)
            </div>
            <div *ngIf="voteOption === 'no'" class="card-title text-danger">
              NO: {{ yourVote / staked | percent }} ({{ yourVote | unit }} SPEC)
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!production" class="row pt-3">
        <div class="card spec-form">
          <div class="card-header mt-1 fw-bold">
            Simulate
          </div>
          <div class="card-body">
            <div class="d-grid">
              <button (click)="simulate()" class="btn btn-primary" type="submit">
                Simulate
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="canEnd" class="row pt-3">
        <div class="card spec-form">
          <div class="card-header mt-1 fw-bold">
            End Poll
          </div>
          <div class="card-body">
            <div class="d-grid">
              <button (click)="submit('End poll')" class="btn btn-primary" type="submit">
                End poll
              </button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="canExecute" class="row pt-3">
        <div class="card spec-form">
          <div class="card-header mt-1 fw-bold">
            Execute Poll
          </div>
          <div class="card-body">
            <div class="row gx-2">
              <div class="d-grid col-6">
                <button (click)="submit('Execute poll')" class="btn btn-success" type="submit">
                  Execute poll
                </button>
              </div>
              <div class="d-grid col-6">
                <button (click)="submit('Expire poll')" [disabled]="!canExpire" class="btn btn-danger"
                        type="submit">
                  Expire poll
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
