@import "src/scss/variables";
@import "~mdb-angular-ui-kit/assets/scss/free/variables";
@import "src/scss/dark";

.poll-card {
    background-color: $second-bg;
    color: $body-color;
    text-decoration: none;
    border: 2px solid transparent;
    cursor: default;
}

.poll-card.link {
    cursor: pointer;
}

.poll-card.done {
    background-color: $second-bg;
}

.indicator {
    height: 4px;
    border-color: #a4a5a8 !important;
    margin-top: 20px;
}

.progress {
    background-color: black;
    border-radius: 10px;
    height: 10px;
}

.threshold-above-vote-bar {
    margin-left: -2.5em;
    width: fit-content;
    position: absolute;
    top: 5px;
}

.quorum-above-vote-bar {
    width: fit-content;
    position: absolute;
    top: 5px;
}
