@import "../../../scss/variables";

.card-trade {
    border-radius: 6px;
    margin: 15px 5px 15px 5px;
    background-color: $btn-bg;
    padding: 15px;

    button[type="submit"] {
        height: 48px;
    }
    .needs-validation {
        .slip-page {
            button {
                height: 39px;
            }
        }

        .btn-outline-light {
            padding-top: 8px;
        }
    }

    span.is-invalid {
        border: 1px solid $text-error;
    }

    .fix-border {
        color: #fff;
        border: 1px solid $gray-970;
        background-color: $gray-960;
        &:focus {
            box-shadow: none;
        }
    }

    .fix-border::placeholder {
        color: $white;
    }

    .fix-border.is-invalid {
        border: 1px solid $text-error;
        z-index: 5;
    }

    .fw-bold-600 {
        font-weight: 600;
    }

    .is-invalid {
        &:focus,
        .is-invalid:hover {
            box-shadow: none;
        }
    }
}
