<main>
  <div class="container py-5">
    <div class="row">
      <div class="col-12">
        <h4>Trade SPEC</h4>
        <!-- <div class="seperator"></div> -->
        <span class="sub-topic">Buy or Sell SPEC token here.</span>
      </div>
    </div>
    <div class="container pt-4">
      <div class="row pt-3">
        <div class="d-flex justify-content-end spec-form pe-0">
          <div class="d-inline-block f-14">Audited by <a href="https://github.com/HalbornSecurity/PublicReports/blob/master/CosmWasm%20Smart%20Contract%20Audits/Spectrum_Protocol_CosmWasm_Smart_Contract_Security_Audit_Halborn_Report_v1_1.pdf" target="_blank">
            <img src="assets/halborn_logo.svg" alt="Halborn" class="platform-logo-halborn"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="card spec-form bg-gray height-350">
        <div class="card-body card-trade">
          <mdb-tabs [fill]="true">
            <mdb-tab title="Buy SPEC">
              <form class="needs-validation" novalidate #formBuySPEC="ngForm">
                <ng-container *ngTemplateOutlet="slippage"></ng-container>
                <div class="d-flex justify-content-between">
                  <div class="mt-3">
                    <span>From</span>
                  </div>
                  <div class="text-end mt-3 fw-bold">
                    <span>Balance: {{ infoService.userUstAmount || 0 | number }} UST</span>
                  </div>
                </div> 
                <div class="input-group">
                  <span class="input-group-text igt-fixwidth fw-bold" id="USTLabel" [ngClass]="{'is-invalid': (formBuySPEC.submitted || amountBuyUSTCtl.touched) && amountBuyUSTCtl.invalid }">
                    <img width="24" height="24" class="me-2" src="https://whitelist.mirror.finance/images/UST.png">  
                    UST
                  </span>
                  <input type="number" class="form-control fix-border" name="inputBuyUST"
                    [(ngModel)]="amountBuyUST" id="inputBuyUST" #inputBuyUST [min]="0.000001"
                    [max]="+infoService.userUstAmount" [step]="0.000001" required
                    [class.is-invalid]="(formBuySPEC.submitted || amountBuyUSTCtl.touched) && amountBuyUSTCtl.invalid"
                    placeholder="0.00000"
                    #amountBuyUSTCtl="ngModel" aria-describedby="USTLabel" [pattern]="'^[0-9]+(.[0-9]{0,6})?$'"
                    (ngModelChange)="refreshBuySPECInfo('UST')" />
                  <button class="btn btn-primary" type="button" (click)="setMaxBuyUST()">
                    MAX
                  </button>
                </div>
                <span class="invalid-feedback-custom" *ngIf="amountBuyUST > +infoService.userUstAmount">Amount must
                  be between 0 and {{
                  infoService.userUstAmount | number }}</span>
                <span class="invalid-feedback-custom" *ngIf="amountBuyUSTCtl.errors?.pattern">
                  Amount must be within 6 decimal points
                </span>
                <div class="mt-3 icon-between-inputs">
                  <i class="fas fa-sort-down"></i>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="mt-3">
                    <span>To</span>
                  </div>
                  <div class="text-end mt-3 fw-bold">
                    <span>Balance: {{ infoService.userSpecAmount || 0 | number }} SPEC</span>
                  </div>
                </div> 
                <div class="input-group">
                  <span class="input-group-text igt-fixwidth fw-bold" id="SPECLabel" [ngClass]="{'is-invalid': amountBuySPECCtl.touched && amountBuySPECCtl.invalid}">
                    <img width="24" height="24" class="me-2" src="/assets/SPEC.png">SPEC
                  </span>
                  <input type="number" class="form-control fix-border" [(ngModel)]="amountBuySPEC" aria-describedby="SPECLabel"
                    id="inputBuySPEC" name="inputBuySPEC" #inputBuySPEC [min]="0.000001" [step]="0.000001" required
                    placeholder="0.00000"
                    #amountBuySPECCtl="ngModel" (ngModelChange)="refreshBuySPECInfo('SPEC')"
                    [class.is-invalid]="amountBuySPECCtl.touched && amountBuySPECCtl.invalid" />
                </div>
                <div class="mt-3 pool-info" *ngIf="amountBuyUST" @fade>
                  <div class="row" *ngIf="expectedPriceBuySPEC">
                    <div class="col">Expected Price</div>
                    <div class="col text-end">{{expectedPriceBuySPEC | number }} UST</div>
                  </div>
                  <div class="row" *ngIf="minimumReceivedBuySPEC">
                    <div class="col">Minimum Received</div>
                    <div class="col text-end">{{ minimumReceivedBuySPEC | number}} SPEC</div>
                  </div>
                </div>
                <div class="d-grid mt-3">
                  <button type="submit" class="btn btn-primary" (click)="doBuySPEC()"
                    [disabled]="cannotBuySPEC()">Buy SPEC</button>
                </div>
              </form>
            </mdb-tab>
            <mdb-tab title="Sell SPEC">
              <form class="needs-validation" novalidate #formSellSPEC="ngForm">
                <ng-container *ngTemplateOutlet="slippage"></ng-container>
                <div class="d-flex justify-content-between">
                  <div class="mt-3">
                    <span>From</span>
                  </div>
                  <div class="text-end mt-3 fw-bold">
                    <span>Balance: {{ infoService.userSpecAmount || 0 | number }} SPEC</span>
                  </div>
                </div> 
                <div class="input-group">
                  <span class="input-group-text igt-fixwidth fw-bold" id="SPECSellLabel" [ngClass]="{'is-invalid': amountSellSPECCtl.touched && amountSellSPECCtl.invalid }">
                    <img width="24" height="24" class="me-2" src="/assets/SPEC.png">
                    SPEC
                  </span>
                  <input type="number" class="form-control fix-border" name="inputSellSPEC"
                    placeholder="0.00000"
                    [(ngModel)]="amountSellSPEC" aria-describedby="SPECSellLabel" id="inputSellSPEC" [min]="0.000001"
                    [max]="+infoService.userSpecAmount" [step]="0.000001" required #amountSellSPECCtl="ngModel"
                    #inputSellSPEC [pattern]="'^[0-9]+(.[0-9]{0,6})?$'"
                    [class.is-invalid]="amountSellSPECCtl.touched && amountSellSPECCtl.invalid"
                    (ngModelChange)="refreshSellSPECInfo('SPEC')" />
                  <button class="btn btn-primary" type="button" (click)="setMaxSellSPEC()">
                    MAX
                  </button>
                </div>
                <span class="invalid-feedback-custom" *ngIf="amountSellSPEC > +infoService.userSpecAmount">Amount
                  must be between 0 and {{
                  infoService.userSpecAmount | number }}</span>
                <span class="invalid-feedback-custom" *ngIf="amountSellSPECCtl.errors?.pattern">
                  Amount must be within 6 decimal points
                </span>
                <div class="mt-3 icon-between-inputs">
                  <i class="fas fa-sort-down"></i>
                </div>
                <div class="d-flex justify-content-between">
                  <div class="mt-3">
                    <span>To</span>
                  </div>
                  <div class="text-end mt-3 fw-bold">
                    <span>Balance: {{ infoService.userUstAmount || 0 | number }} UST</span>
                  </div>
                </div> 
                <div class="input-group">
                  <span class="input-group-text igt-fixwidth fw-bold" id="USTSellLabel" [ngClass]="{'is-invalid': (formSellSPEC.submitted || amountSellUSTCtl.touched) && amountSellUSTCtl.invalid }">
                    <img width="24" height="24" class="me-2" src="https://whitelist.mirror.finance/images/UST.png">  
                    UST</span>
                  <input type="number" class="form-control fix-border" name="amountSellUST" [(ngModel)]="amountSellUST"
                    aria-describedby="USTSellLabel" id="inputSellUST" name="inputSellUST" #inputSellUST [min]="0.000001"
                    placeholder="0.00000"
                    [step]="0.000001" required #amountSellUSTCtl="ngModel" (ngModelChange)="refreshSellSPECInfo('UST')"
                    [class.is-invalid]="(formSellSPEC.submitted || amountSellUSTCtl.touched) && amountSellUSTCtl.invalid" />
                </div>
                <div class="mt-3 pool-info" *ngIf="amountSellUST" @fade>
                  <div class="row" *ngIf="expectedPriceSellSPEC">
                    <div class="col">Expected Price</div>
                    <div class="col text-end">{{ expectedPriceSellSPEC | number }} UST</div>
                  </div>
                  <div class="row" *ngIf="minimumReceivedSellUST">
                    <div class="col">Minimum Received</div>
                    <div class="col text-end">{{ minimumReceivedSellUST | number}} UST</div>
                  </div>
                </div>
                <div class="d-grid mt-3">
                  <button type="submit" class="btn btn-primary" (click)="doSellSPEC()"
                    [disabled]="cannotSellSPEC()">Sell SPEC</button>
                </div>
              </form>
            </mdb-tab>
          </mdb-tabs>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row pt-3">
        <div class="d-flex justify-content-end spec-form pe-0">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</main>

<ng-template #slippage>
  <div class="row pt-4 pb-4">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <div class="pt-2">
          <span>Set Slippage Tolerance</span>
        </div>
        <div> 
          <form class="needs-validation slip-page" novalidate #slippageInputForm="ngForm">
            <div class="small d-flex flex-row justify-content-end">
              <button type="button" class="btn me-1 p-10" [ngClass]="slippagePercentage === 0.1 ? 'btn-primary' : 'btn-outline-light'"
                (click)="setSlippage(0.1)">0.1%</button>
              <button type="button" class="btn me-1 p-10" [ngClass]="slippagePercentage === 0.5 ? 'btn-primary' : 'btn-outline-light'"
                (click)="setSlippage(0.5)">0.5%</button>
              <button type="button" class="btn me-1 p-10" [ngClass]="slippagePercentage === 1 ? 'btn-primary' : 'btn-outline-light'"
                (click)="setSlippage(1)">1%</button>
              <input type="number" class="form-control slippageInput" name="slippageNumInput" [(ngModel)]="slippagePercentage" required
                placeholder="0.0%"
                mdbInput [min]="0.001" [step]="0.001" [max]="50" #slippageNumInput="ngModel" (ngModelChange)="setSlippage()"
                [class.is-invalid]="slippageNumInput.touched && slippageNumInput.invalid" />
              <!-- <i class="fas fa-percent percentage-center"></i> -->
            </div>
            </form>
            <div class="text-end">
              <span class="warning-feedback" *ngIf="slippagePercentage < 0.5 && !slippageNumInput.invalid ">Your transaction may fail</span>
              <span class="invalid-feedback-custom" *ngIf="slippageNumInput.invalid">Enter a valid slippage percentage</span>
              <span class="warning-feedback" *ngIf="slippagePercentage > 5 && !slippageNumInput.invalid ">Your transaction may be frontrun</span>
            </div>
        </div>
    </div>
    </div>
  </div>
</ng-template>
