<div class="modal-header text-center">
    <h4 class="modal-title w-100">Connect to a wallet</h4>
</div>
<div class="modal-body">
    <div class="d-grid gap-3">
      <ng-container *ngFor="let walletExtension of walletExtensions">
        <ng-container *ngFor="let type of types">
          <button type="button" *ngIf="type != 'WALLETCONNECT'" class="btn btn-connect" (click)="connect(type, walletExtension.identifier)">
            <img [src]="walletExtension.icon" /> {{walletExtension.name}}
          </button>
        </ng-container>
      </ng-container>
      <button type="button" *ngIf="types.includes('WALLETCONNECT')" class="btn btn-connect" (click)="connect( 'WALLETCONNECT', null)">
          <img src="/assets/WalletConnect.png" /> Wallet Connect
      </button>
      <ng-container *ngFor="let walletExtensionInstall of walletExtensionsForInstall">
        <a type="button" *ngIf="!findWalletExtensionIdentifier(walletExtensionInstall.identifier)" class="btn btn-connect" href="{{walletExtensionInstall.installUrl}}" target="_blank">
          <img [src]="walletExtensionInstall.icon" /> Install {{walletExtensionInstall.name}}
          <i class="fas fa-info-circle info-icon super" *ngIf="walletExtensionInstall.identifier === 'xdefi-wallet'"
             [mdbTooltip]="'If installed, please turn on Prioritise XDEFI to allow connection'"></i>
        </a>
      </ng-container>
    </div>
</div>
