/* You can add global styles to this file, and also import other style files */

@import "scss/variables";
@import "~mdb-angular-ui-kit/assets/scss/free/variables";
@import "scss/dark";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~mdb-angular-ui-kit/assets/scss/mdb";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  background-color: $dark;
}

.btn {
  height: 48px;
  text-transform: unset !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;

}

.btn-xl {
  height: 60px;
}


.tooltip-inner {
  background-color: $gray-900;
}

.body-container {
  height: 100vh;
  background: rgba(18, 18, 18, 1);
  background: linear-gradient(180deg, rgba(9, 9, 9, 1) 0%, $dark 17%);
  background-repeat: no-repeat;
}

.text-default {
  color: $default;
}

.text-execute {
  color: $execute;
}

.text-pairstat {
  color: $apy-error;
}

.spec-form {
  max-width: 740px;
  margin: 0 auto;
  border-radius: 0.25rem;
  .fee {
    background-color: $blue-gray-50;
  }
}

.bg-gray {
  background-color: $gray-950 !important;
}

.height-350 {
  min-height: 350px;
}

.slippageInput {
  width: 60px;
  text-align: right;
  border: 1px solid $spectrum;
}

.percentage-center {
  margin-top: 17px;
  margin-left: 10px;
}

.mdb-form-control-maxwidth {
  width: 100%;
}

.fix-border {
  height: unset !important;
  border-left: none !important;
}

.igt-fixwidth {
  height: 48px;
  border: 0;
  background-color: $gray-950;
}

.igt-fixwidth-vault {
  width: 90px !important;
}

.igt-fixwidth-vault-long {
  width: 100px !important;
}

.invalid-feedback-custom {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #f93154;
}

.warning-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dd794a;
}

.pool-info {
  font-size: 0.875em;
}

.info-icon {
  vertical-align: text-center;
  font-size: 13px;
  cursor: help;
  padding-left: 5px;
}

.icon-between-inputs {
  text-align: center;
  color: #757575;
}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

.icon-reinvest-input {
  padding-top: 10px;
  padding-left: 10px;
}
pre.json {
  padding: 10px;
  background-color: $dark;
  span {
    white-space: normal;
  }
  .string {
    color: green;
  }
  .number {
    color: darkorange;
  }
  .boolean {
    color: blue;
  }
  .null {
    color: magenta;
  }
  .key {
    color: red;
  }
}

.last {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.fixed {
  > .form-label {
    transform: translateY(-1rem) translateY(0.1rem) scale(0.8);
  }
}

.gap22px {
  height: 22px;
}

.gap3353 {
  height: 33.53px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: $dark;
}

.form-control {
  background-color: transparent;
  &:focus {
    background-color: #3e3e3e;
  }
  &::placeholder {
    color: $gray-600;
  }
  > option {
    background-color: #4f4f4f !important;
  }
}

.hover-shadow:hover,
.card.hover-shadow:hover {
  box-shadow: 0 3px 17px 0 rgba(252, 81, 133, 0.2), 0 4px 20px 0 rgba(252, 81, 133, 0.19);
  transition: all 0.3s ease-in-out;
}

.bg-primary,
.btn-primary,
.badge-primary,
.alert-primary {
  background: $primary;
  background: linear-gradient(45deg, #fc5168 0%, $primary 50%);
  background: -webkit-linear-gradient(45deg, #fc5168 0%, $primary 50%);
}

.bg-info,
.btn-info,
.badge-info,
.alert-info {
  background: $info;
  background: -webkit-linear-gradient(45deg, darken($info, 7%) 0%, $info 50%);
  background: linear-gradient(45deg, darken($info, 7%) 0%, $info 50%);
}

.bg-success,
.btn-success,
.badge-success,
.alert-success {
  background: $progress;
  background: -webkit-linear-gradient(45deg, darken($success, 7%) 0%, $success 50%);
  background: linear-gradient(45deg, darken($success, 7%) 0%, $success 50%);
}

.bg-warning,
.btn-warning,
.badge-warning,
.alert-warning {
  background: $warning;
  background: -webkit-linear-gradient(45deg, darken($warning, 7%) 0%, $warning 50%);
  background: linear-gradient(45deg, darken($warning, 7%) 0%, $warning 50%);
}

.bg-danger,
.btn-danger,
.badge-danger,
.alert-danger {
  background: $error;
  background: -webkit-linear-gradient(45deg, darken($danger, 7%) 0%, $danger 37%);
  background: linear-gradient(45deg, darken($danger, 7%) 0%, $danger 37%);
}

.bg-Spectrum {
  background: $spectrum;
  border: solid 1px #fb2b6b;
  // background: -webkit-linear-gradient(315deg, darken($spectrum, 7%) 0%, $spectrum 50%);
  // background: linear-gradient(315deg, darken($spectrum, 7%) 0%, $spectrum 50%);
}

.bg-Mirror {
  background: $mirror;
  border: solid 1px #fff;
  // background: -webkit-linear-gradient(315deg, darken($mirror, 7%) 0%, $mirror 50%);
  // background: linear-gradient(315deg, darken($mirror, 7%) 0%, $mirror 50%);
}

.bg-Anchor {
  background: $anchor;
  border: solid 1px #4bdb4b;
  // background: -webkit-linear-gradient(315deg, darken($anchor, 7%) 0%, $anchor 50%);
  // background: linear-gradient(315deg, darken($anchor, 7%) 0%, $anchor 50%);
}

.bg-Pylon {
  background: $pylon;
  border: solid 1px #01dcf9;
  // background: -webkit-linear-gradient(315deg, darken($pylon, 7%) 0%, $pylon 50%);
  // background: linear-gradient(315deg, darken($pylon, 7%) 0%, $pylon 50%);
}

.bg-Terraworld {
  background: $terraworld;
  border: solid 1px #f7ca3b;
  // background: -webkit-linear-gradient(315deg, darken($terraworld, 7%) 0%, $terraworld 50%);
  // background: linear-gradient(315deg, darken($terraworld, 7%) 0%, $terraworld 50%);
}

.bg-Valkyrie {
  background: $valkyrie;
  border: solid 1px #F5FE00;
  // background: -webkit-linear-gradient(315deg, darken($valkyrie, 7%) 0%, $valkyrie 50%);
  // background: linear-gradient(315deg, darken($valkyrie, 7%) 0%, $valkyrie 50%);
}

.bg-Nexus {
  background: $nexus;
  border: solid 1px #F4B6C7;
  // background: -webkit-linear-gradient(315deg, darken($nexus, 7%) 0%, $nexus 50%);
  // background: linear-gradient(315deg, darken($nexus, 7%) 0%, $nexus 50%);
}

.bg-Orion {
  background: $orion;
  background: -webkit-linear-gradient(315deg, darken($orion, 7%) 0%, $orion 50%);
  background: linear-gradient(315deg, darken($orion, 7%) 0%, $orion 50%);
}

.bg-Kujira {
  background: $kujira;
  background: -webkit-linear-gradient(315deg, darken($kujira, 7%) 0%, $kujira 50%);
  background: linear-gradient(315deg, darken($kujira, 7%) 0%, $kujira 50%);
}

.bg-your-rewards {
  background: #ed7b84;
  background: -webkit-linear-gradient(315deg, darken(#ed7b84, 7%) 0%, #ed7b84 50%);
  background: linear-gradient(315deg, darken(#ed7b84, 7%) 0%, #ed7b84 50%);
}

.bg-item0 {
  background: #ed7b84;
}
.bg-item1 {
  background: #f5dbcb;
}
.bg-item2 {
  background: #d6d5b3;
}
.bg-item3 {
  background: #7eb77f;
}

a.link-no-decoration {
  color: $white;
}

.text-underline {
  text-decoration: underline;
}

.table {
  background-color: $btn-bg;
  tr {
    border-style: none;
    border: 0 transparent;
    margin: 0 10px 0 10px;
    display: block;
  }
}

.table-font-size1 {
  font-size: 0.825rem;
}

.table-font-size2 {
  font-size: 0.7rem;
}

.legend-square {
  // box-sizing: border-box;
  // height: 10px;
  // width: 10px;
  // display: block;
    margin-right: 10px;
    margin-top: 0px;
    width: 10px;
    height: 24px;
    flex-grow: 0;
    // margin: 0 8.8 0 0;
    border-radius: 4px;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-right-4px {
  margin-right: 4px;
}

.margin-top-close-button {
  margin-top: 4px;
}

.margin-auto {
  margin: 0 auto;
}

.p-10 {
  padding: 10px;
}

.m-t-05 {
  margin-top: -5px;
}

.f-12 {
  font-size: 12px;
  // @include responsive-font-size(12);
}

.f-14 {
  font-size: 14px;
}

.f-25 {
  font-size: 25px;
}

.your-tvl-percentage {
  text-align: right;
  display: inline-block !important;
}

.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
  border: 0;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  background-color: #1b1f26;
}

.btn-outline-light:disabled,
.btn-outline-primary.disabled {
  border: 0;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
}

.dropdown-item {
  cursor: pointer;
}

.platform-logo-halborn {
  height:15px;
}

h2, h4 {
  font-weight: bold;
  color: $header-font;
}

h5, h6 {
  font-weight: bold;
  color: $white;
}

h3.card-title {
  font-size: 25px;
  font-weight: 900;
  margin: 0;
}

.cur-title {
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

.card {
  background-color: $main-bg;
}

.card-md {
  background-color: $btn-bg;
  .card-body {
    padding: 1.5em 1.5em;
  }
  .lock-icon {
    position: absolute;
    top: 35px;
  }
}

.card-sm {
  background-color: $btn-bg;
  .card-body {
    padding: 0.5em 0.5em;
  }
}

.card-deposit {
  margin: 7.5px 0 0;
  border-radius: 52px;
  background-color: $btn-bg;
}

.card-text {
  font-size: 12px;
  color: $white;
  margin-bottom: 4px;
}

.b-none {
  box-shadow: none !important;
}

.seperator {
  width: 100%;
  align-self: stretch;
  flex-grow: 0;
  margin: 10px 0 10px;
  transform: rotate(-360deg);
  height: 2px;
  background-image: linear-gradient(to right, #9500cd 1%, #3f3ff7 23%, #02b8d5 49%, #01c541 65%, #f5fe00 78%, #ffa301 90%, #fe0000 100%);
}

.sub-topic {
  color: rgba(255, 255, 255, 0.6);
}

.nav-tabs {
  border-radius: 6px;
  background-color: $gray-950;
  width: 100%;
}

.nav-tabs .nav-link {
  margin: 5px;
  border: none;
  font-weight: bold; 
  font-size: 16px;
  text-transform: none;
}

.nav-link.active {
  margin: 5px;
  border-radius: 6px;
  color: $white !important;
  border: solid 1px $spectrum;
  background-color: $btn-bg !important;
}

.tab-container {
  .nav-tabs {
      background-color: transparent !important;
  }
      
  .nav-tabs .nav-link {
      background-color: $gray-950;
      border-radius: 4px;
      color: $white;
      border: 0 !important;
      padding: 15px;
  }

  .nav-link.active {
      margin: 5px;
      border-radius: 6px;
      border: 0 !important;
      background-color: $primary !important;
      padding: 15px;
  }
}

.footer {
  float: right;
  padding-right: 0;
  padding-left: 0;
  i,img {
    padding: 5px;
    background-color: $gray-950;
    color: $btn-bg;
    border-radius: 6px;
  }
}

i.fa-sort-down {
  background-color: $white;
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px $gray-450;
  padding: 0px 5px 5px 5px;
  color: $dark;
}

.badge {
  border-radius: 73px;
  font-weight: normal;
  color: $gray-300;
}


.badge-staked {
  height: fit-content;
  width: 80px;
  background: $primary;
  position: relative;
  border-top-left-radius: 0.3rem;
  font-size: 11px;
  padding-left: 10px;
  color: black;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 17px solid $second-bg;
    border-left: 15px solid $primary;
    width: 0;
  }
}

.badge-staked-vault {
  &::before {
    border-bottom: 17px solid $main-bg;
  }
}


.badge-progress {
    background: $primary;
    width: 100px;
    &::before {
        border-left: 15px solid $primary;
    }
}

.badge-executed {
    background: $execute;
    &::before {
        border-left: 15px solid $execute;
    }
}

.badge-passed {
    background: $passed;
    &::before {
        border-left: 15px solid $passed;
    }
}


.badge-rejected {
    background: $text-error;
    &::before {
        border-left: 15px solid $text-error;
    }
}


.badge-expired {
    background: $gray-400;
    &::before {
        border-left: 15px solid $gray-400;
    }
}

.modal-content {
  background-color: $gray-950;
}


.dropdown-menu {
  border: solid 1px $dropdown-border;
  .dropdown-item {
      background-color: $gray-950;
      color: white;
      &.active {
          background-color: $dropdown-active;
      }
  }
}

.modal-open {
  padding-right: 0px !important;
}


.detail-header {
  i,img {
      padding: 5px;
      background-color: #29303a;
      color: white;
      border-radius: 50%;
    }
}

.switch-grey {
  background-color: $gray-980;
}