/* You can add global styles to this file, and also import other style files */

@import "scss/variables";
@import "~mdb-angular-ui-kit/assets/scss/free/variables";
@import "scss/dark";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~mdb-angular-ui-kit/assets/scss/mdb";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  font-family: 'Inter', sans-serif;
  font-size: 0.975rem;
  height: 100%;
  background-color: $dark;
}

.container {
  max-width: 940px;
}

.body-container {
  height: 100vh;
  background: $dark;
  // background: linear-gradient(180deg, rgba(9, 9, 9, 1) 0%, $dark 17%);
  background-repeat: no-repeat;
}

.height-350 {
  min-height: 350px;
}

// Button

.btn {
  height: 48px;
  text-transform: unset !important;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fff;
  box-shadow: none;
  :disabled {
    box-shadow: none;
  }
}

.btn-sm {
  font-size: 14px;
  font-weight: bold;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  box-shadow: none;
  :disabled {
    box-shadow: none;
  }
}

.btn-secondary, .btn-outline-light {
  background-color: rgba(252, 81, 133, 0) !important;
  border: 1px solid white;
  box-shadow: none;
  color: white !important;
}

.btn-secondary:hover, .btn-outline-light:hover {
  border-color: $primary;
  outline: 0;
  background-color: rgba(252, 81, 133, 0) !important;
  color: white !important;
}


.btn-outline-primary:disabled,
.btn-outline-primary.disabled {
  border: 0;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
  background-color: $btn-bg;
}

.btn-outline-light:disabled,
.btn-outline-primary.disabled {
  border: 0;
  border-style: solid;
  border-width: 2px;
  border-radius: 6px;
}

.btn-connect {
  height: 60px;
  background-color: $grey-990 !important;
  color: white !important;
  border: 1px solid white;
  &:hover {
    border-color: $primary;
    outline: 0;
  }
}

// text-size

h2, h4 {
  font-weight: bold;
  color: $header-font;
}

h5, h6 {
  font-weight: bold;
  color: $white;
}

h3.card-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}


//  text-color

.text-execute {
  color: $execute;
}

.text-white {
  color: $white;
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-22 {
  font-size: 22px;
}

.f-14-600 {
  font-size: 14px;
  font-weight: 600;
}

.f-16-500 {
  font-size: 16px;
  font-weight: 500;
}

.spec-form {
  max-width: 740px;
  margin: 0 auto;
  border-radius: 0.25rem;
  .fee {
    background-color: $blue-gray-50;
  }
}


.slippageInput {
  width: 60px;
  text-align: right;
  border: 1px solid $spectrum;
  &:focus {
    border: 1px solid $spectrum;
    background-color: transparent;
  }
}

.fix-border {
  height: unset !important;
}

.igt-fixwidth {
  height: 48px;
  border: 1px solid $gray-970;
  background-color: $gray-960;
}

.invalid-feedback-custom {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #f93154;
}

.warning-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dd794a;
}

.info-icon {
  vertical-align: text-center;
  font-size: 13px;
  cursor: help;
  padding-left: 5px;
}

.icon-between-inputs {
  text-align: center;
  color: #757575;
}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

.border-6 {
  border-radius: 6px;
}

.icon-reinvest-input {
  padding-top: 10px;
  padding-left: 10px;
}

pre.json {
  padding: 10px;
  background-color: $dark;
  span {
    white-space: normal;
  }
  .string {
    color: green;
  }
  .number {
    color: darkorange;
  }
  .boolean {
    color: blue;
  }
  .null {
    color: magenta;
  }
  .key {
    color: red;
  }
}

.last {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: $dark;
}

.form-control {
  background-color: transparent;
  border: 1px solid #414851;
  &:focus {
    background-color: transparent;
    border: 1px solid #414851;
  }
  &::placeholder {
    color: $gray-600;
  }
  > option {
    background-color: #4f4f4f !important;
  }
}

.hover-shadow,
.card.hover-shadow {
  border: 0 none $primary;
}

.hover-shadow:hover,
.card.hover-shadow:hover {
  border: 1px solid $primary;
  background-color: #303947;
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
  mix-blend-mode: normal;
}

// BG Color
.bg-gray {
  background-color: $gray-950 !important;
}

.bg-success,
.btn-success,
.badge-success,
.alert-success {
  background: $progress;
  background: -webkit-linear-gradient(45deg, darken($success, 7%) 0%, $success 50%);
  background: linear-gradient(45deg, darken($success, 7%) 0%, $success 50%);
}

.bg-danger,
.btn-danger,
.badge-danger,
.alert-danger {
  background: $error;
  background: -webkit-linear-gradient(45deg, darken($danger, 7%) 0%, $danger 37%);
  background: linear-gradient(45deg, darken($danger, 7%) 0%, $danger 37%);
}

.bg-Spectrum {
  background: $spectrum-bg;
  border: solid 1px $spectrum;
}

.bg-Mirror {
  background: $mirror-bg;
  border: solid 1px #fff;
}

.bg-Anchor {
  background: $anchor-bg;
  border: solid 1px $anchor;
}

.bg-Pylon {
  background: $pylon-bg;
  border: solid 1px $pylon;
}

.bg-Terraworld {
  background: $terraworld-bg;
  border: solid 1px $terraworld;
}

.bg-Valkyrie {
  background: $valkyrie-bg;
  border: solid 1px $valkyrie;
}

.bg-Nexus {
  background: $nexus-bg;
  border: solid 1px $nexus;
}

.bg-Orion {
  background: $orion-bg;
  border: solid 1px $orion;
}

.bg-Kujira {
  background: $kujira;
  background: -webkit-linear-gradient(315deg, darken($kujira, 7%) 0%, $kujira 50%);
  background: linear-gradient(315deg, darken($kujira, 7%) 0%, $kujira 50%);
}

.bg-your-rewards {
  background: #ed7b84;
  background: -webkit-linear-gradient(315deg, darken(#ed7b84, 7%) 0%, #ed7b84 50%);
  background: linear-gradient(315deg, darken(#ed7b84, 7%) 0%, #ed7b84 50%);
}

.reward-table {
  .table {
    background-color: $btn-bg;
    tr {
      border-style: none;
      border: 0 transparent;
    }
  }
}

.table-font-size1 {
  font-size: 0.825rem;
}

.table-font-size2 {
  font-size: 0.7rem;
}

.legend-square {
    margin-right: 10px;
    margin-top: 0px;
    width: 10px;
    height: 24px;
    flex-grow: 0;
    border-radius: 4px;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-top-close-button {
  margin-top: 4px;
}

.margin-auto {
  margin: 0 auto;
}

.p-10 {
  padding: 10px;
}

.your-tvl-percentage {
  text-align: right;
  display: inline-block !important;
}

.dropdown-item {
  cursor: pointer;
}

.platform-logo-halborn {
  height:15px;
}

.cur-title {
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

.card {
  background-color: $grey-990;
  border-radius: 0.4rem;
  box-shadow: none;
  .card-body {
    padding: 0.5em;
  }
}

.card-grey {
  background-color: $grey-990;
}

.asset-card {
  background-color: $gray-950 !important;
}

.min-asset-card {
  min-height: 210px;
}

.card-md {
  background-color: $btn-bg;
  .card-body {
    padding: 1.5em 1.5em;
  }
  .lock-icon {
    position: absolute;
    top: 35px;
  }
}

.card-sm {
  background-color: $btn-bg;
  .card-body {
    padding: 0.5em 0.5em;
  }
}

.card-deposit {
  margin: 7.5px 0 0;
  border-radius: 4px;
  box-shadow: none;
}

.card-text {
  font-size: 12px;
  color: $white;
  margin-bottom: 4px;
}

.b-none {
  box-shadow: none !important;
}

.seperator {
  width: 100%;
  align-self: stretch;
  flex-grow: 0;
  margin: 10px 0 10px;
  transform: rotate(-360deg);
  height: 2px;
  background-image: linear-gradient(to right, #9500cd 1%, #3f3ff7 23%, #02b8d5 49%, #01c541 65%, #f5fe00 78%, #ffa301 90%, #fe0000 100%);
}

.sub-topic {
  color: rgba(255, 255, 255, 0.6);
}

.nav-tabs {
  border-radius: 6px;
  width: 100%;
  background-color: $gray-950;
  .nav-link {
      color: white;
      margin: 5px;
      border: none;
      font-size: 16px;
      text-transform: none;
      &:hover {
        background-color: transparent;
      }
  }

  .nav-link.active {
      color: white;
      border: solid 1px $primary;
      background-color: $btn-bg;
      border-radius: 6px;
  }
}

.navbar-nav {
  .nav-link {
    font-weight: 500;
    margin-top: 3px;
  }

  .nav-link.active {
    margin: 5px;
    margin-top: 2px;
    font-weight: 500;
    color: $white;
    border-radius: 6px !important;
    padding: 10px 20px !important;
    background-color: rgba(0, 0, 0, 0.24);
  }
}

.tab-container {
  .nav {
    margin-bottom: 0!important;
  }

  .tab-content {
      background-color: $grey-990 !important;
      margin-left: 5px;
      margin-right: 5px;
      .tab-pane {
        margin-top: -5px;
      }
  }

  .nav-tabs {
      background-color: transparent !important;
      font-size: 14px;
  }
      
  .nav-tabs .nav-link {
      background-color: rgba(255, 255, 255, 0.09);
      border-radius: 4px;
      font-size: 14px;
      color: $white;
      border: 0 !important;
      padding: 15px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }

  .nav-link.active {
      border-radius: 6px;
      border: 0 !important;
      border-radius: 6px 6px 0px 0px;
      background-color: $grey-990 !important;
      padding: 15px;
  }
  *:focus {
    outline: none !important;
  }
}

.card-trade {
  .nav-tabs {
    padding: 5px;
    border-radius: 200px;
  }
  .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 200px;
    background-color: $gray-940;
  }

  .nav-link.active {
      // margin-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 200px;
      background-color: $grey-990;
  }
}

.footer {
  float: right;
  padding-right: 0;
  padding-left: 0;
  i,img {
    padding: 5px;
    background-color: $gray-950;
    color: $btn-bg;
    border-radius: 6px;
  }
}

i.fa-sort-down {
  background-color: $white;
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px $gray-450;
  padding: 0px 5px 5px 5px;
  color: $dark;
}

.badge {
  border-radius: 73px;
  font-weight: normal;
  color: $gray-300;
}

.badge-staked {
  height: fit-content;
  width: fit-content;
  padding: 2px 10px;
  background: $primary;
  position: relative;
  border-top-left-radius: 0.3rem;
  font-size: 11px;
}

.badge-disabled {
  height: fit-content;
  width: fit-content;
  padding: 2px 10px;
  background: $primary;
  position: relative;
  border-top-left-radius: 0.3rem;
  font-size: 11px;
  color: black;
}

.badge-progress {
    background: $primary;
    &::before {
        border-left: 15px solid $primary;
    }
}

.badge-executed {
    background: $execute;
    &::before {
        border-left: 15px solid $execute;
    }
}

.badge-passed {
    background: $passed;
    &::before {
        border-left: 15px solid $passed;
    }
}

.badge-rejected {
    background: $text-error;
    &::before {
        border-left: 15px solid $text-error;
    }
}

.badge-expired {
    background: $gray-400;
    &::before {
        border-left: 15px solid $gray-400;
    }
}

.modal-open {
  padding-right: 0px !important;
}

.modal-header {
  border-bottom: 0;
}

.modal-manage-rewards{
  max-width: 900px !important;
}

.modal-content {
  background-color: $gray-950;
}

.dropdown-menu {
  box-shadow: none;
  .dropdown-item {
      background-color: $grey-990;
      border: 0;
      color: white;
      &.active {
          background-color: $gray-950;
      }
  }
}

.detail-header {
  i,img {
      padding: 5px;
      background-color: $main-bg;
      color: white;
      border-radius: 50%;
    }
}

.switch-grey {
  background-color: $gray-980;
}

.btn-max {
  background-color: $gray-970;
  font-size: 14px;
  padding: 12px;
}

.reward-container {
  button {
    height: 40px;
  }
}

.btn-group {
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
}

.table-reward {
  .btn-group {
    width: -webkit-fill-available;
  }
  .min-125 {
    min-width: 125px;
  }
}

@include media-breakpoint-only(xs) {
  .nav-tabs .nav-link {
    font-size: 12px;
  }

  .btn-outline-auto, 
  .btn-auto,
  .auto-compound
   {
    font-size: 12px;
  }

  .mixed-details {
    .col {
      font-size: 12px;
    }
  }

  .tab-container{
    div, span {
      font-size: 12px;
    }
  }

  .auto-compound {
    span {
      font-size: 12px;
    }
  }

  .tab-content {
    button {
      font-size: 12px;
    }
  }

  .dropdown, .dropdown-toggle {
    font-size: 12px !important;
  }

  .needs-validation  {
    padding: 0 !important;
  }

  .reward-btn {
    button {
      width: max-content;
      margin-right: 10px;
    }
  }
}

// mobile screen style

@include media-breakpoint-between(xs, md) {
  .btn-group {
    button, a {
      margin: 5px;
      padding: 5px;
    }
  }

  .table-reward {
    .col-12 {
      padding-bottom: 10px;
    }
  }

  .col-mb {
    width: 100%;
    flex: auto;
  }

  .unstake-container {
    .float-end {
      padding-top: 1rem;
      float: none !important;
    }

    .total {
      margin-left: 10px;
    }
  }

  .tab-content {
    margin-top: -4px;
    .tab-pane {
      padding: 10px;
    }
  }
}

@include media-breakpoint-between(xs, lg) {
  .col-mbp {
    width: 100%;
    flex: auto;
    .mt-5 {
      margin-top: 1rem!important;
    }
  }
  
  .pool-mobile {
    padding: 0;
    margin-top: 10px;
  }
}

.mdb-backdrop {
  backdrop-filter: blur(4px);
}
