$primary: #fc5185;
$secondary: #f5f5f5;
$default: #3fc1c9;
// 121212
$dark: #181d23;
$white: #fff;
$gray-100: #F5F5F5;
$gray-200: #EEEEEE;
$gray-300: #E0E0E0;
$gray-400: #BDBDBD;
$gray-450: #888;
$gray-500: #414851; //line
$gray-600: #3C3C3C;
$gray-700: #303947;
$gray-800: #222830; // Card
$gray-900: #1D1D1D;
$gray-940: #3d444e;
$gray-950: #2a313c;
$gray-960: #232932;
$gray-970: #414851;
$gray-980: #222730;
$gray-990: #222830;
$black: #000;

$main-bg: #29303A;
$second-bg: #20272f;
$btn-bg: #1b1f26;
$header-font: #f2f2f2;
$execute: #22dce8;
$text-error: #f93154;

$progress: #4bdb4b;
$error: #be0f0f;
$passed: #00b74a;
$apy-error: #be0f0f;
$hr-color: rgba(255, 255, 255, 0.1);
$card-green-border: #46e974;
$card-green-bg: rgba(61, 187, 89, 0.24);

$card-red-border: #e94661;
$card-red-bg: rgba(187, 61, 84, 0.24);
$card-warning-border: #dd794a;
$card-warning-bg: rgba(221, 121, 74, 0.24);
$card-blue-border: #3469c4;
$card-blue-bg: rgba(0, 41, 239, 0.24);
$dropdown-border: rgba(255, 255, 255, 0.3);
$dropdown-active: #171c25;
$max-btn: #383C44;
$spectrum: #fb2b6b;
$spectrum-bg: rgba(251, 43, 107, 0.5);
$mirror: #232C45;
$mirror-bg: rgba(54, 54, 54, 0.5);
$anchor: #4bdb4b;
$anchor-bg: rgba(75, 219, 75, 0.5);
$pylon: #01dcf9;
$pylon-bg: rgba(1, 220, 249, 0.5);
$terraworld: #f7ca3b;
$terraworld-bg: rgba(39, 169, 225, 0.5);
$valkyrie: #ffe646;
$valkyrie-bg: #1A1A1E;
$nexus: #F4B6C7;
$nexus-bg: #6D3D3D;
$orion: #04AA6A;
$orion-bg: #167458;
$kujira: #E53935;
$astroport: #00a2da;
$astroport-bg: #463df6;
$apollo: #fd9254;
$apollo-bg: #0b1222;
$starterra: #ffee00;
$starterra-bg: #10161e;
$xdefi: #2146d3;
$xdefi-bg: #112268;
$tns: #121db9;
$tns-bg: #041782;
$glow: #6836e8;
$glow-bg: #0d0822;
$loterra: #eb47f7;
$loterra-bg: #561c86;
$sayve: #62a25d;
$sayve-bg: #3a6437;
$lido: #e59283;
$lido-bg: #4a9cf7;
$luna: #f9d85e;
